<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="bg-neutral">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet" type="text/css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Hello from Timary!</title>
        {% block css %}{% endblock %}
    </head>
    <body>

        {% include "partials/_navbar.html" %}

        {# Main Content  #}
        <main class="lg:w-5/6 mx-auto px-1 lg:px-10 pb-5">
            {% block content %}{% endblock %}
        </main>


        {# Third Part JS #}
        <script src="https://unpkg.com/htmx.org@1.7.0" async></script>
        <script nonce="base" async>
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
            document.addEventListener("click", (e) => {
                if (document.activeElement.id !== "hamburger-menu") {
                    document.getElementById("dropdown-menu").blur()
                }
            })
        </script>

        {% block js %}{% endblock %}
    </body>
</html>
