<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.2.2/dist/full.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet" type="text/css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta name="theme-color" content="#2b2e36">
        <title>Hello from Timary!</title>
        {% block css %}{% endblock %}
        {# Third Party JS #}
        <script src="https://unpkg.com/htmx.org@1.8.0"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>

        <script nonce="base" defer>
            htmx.on("showMessage", (e) => {
                let alertType = e.detail.alertType;
                let message = e.detail.message;
                let alertMessage = document.createElement("div");
                alertMessage.id = `alert-${Math.trunc(Math.random() * 100 + 1)}`
                alertMessage.classList = `alert ${alertType} shadow-lg max-w-xl mx-auto my-2`;
                alertMessage.innerHTML = `
               <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <span>${message}</span>
               </div>`
                document.getElementById("alert-messages").appendChild(alertMessage);
                htmx.remove(htmx.find(`#${alertMessage.id}`), 2500);
            });
        </script>
    </head>
    <body class="static h-screen">

        {% include "partials/_navbar.html" %}

        {# Main Content  #}
        <main class="lg:w-5/6 mx-auto px-1 lg:px-10 pb-5">
            {% block content %}{% endblock %}
        </main>

        {% if request.user.is_authenticated %}
            <div class="fixed bottom-0 right-0 mr-4 mb-4">
                <label for="questions-modal" class="btn btn-primary btn-xs modal-button">Questions?</label>
            </div>

            <input type="checkbox" id="questions-modal" class="modal-toggle">
            <div class="modal">
                <div class="modal-box relative">
                    <label for="questions-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                    <form hx-post="/questions/">
                        <h3 class="text-lg font-bold">Let me get you unstuck</h3>
                        <p class="py-4">If something can be done better or you are getting an error, please let me know!</p>
                        <textarea name="question" class="textarea textarea-bordered text-xl w-full" rows="7" placeholder="I need help with..." required></textarea>
                        <div class="flex justify-center mt-4">
                            <button type="submit" class="btn btn-primary mx-auto">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}

        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            });
            document.addEventListener("click", (e) => {
                if (document.activeElement.id !== "hamburger-menu") {
                    document.getElementById("dropdown-menu").blur()
                }
            })

            // Helper methods to clean hours input.
            function filterHoursInput(e) {
                e.value = e.value.replace(/[^0-9.:]/, '');
            }

            function timeToDecimal(hrs, mins) {
                let arr = [hrs, mins];
                let dec = parseInt((arr[1]/6)*10, 10);

                return parseFloat(parseInt(arr[0], 10) + '.' + (dec<10?'0':'') + dec).toString();
            }

            function convertHoursInput(e) {
                if (e.value.includes(":")) {
                    let timeClocked = e.value.split(":");
                    let val = timeToDecimal(timeClocked[0] || 0, timeClocked[1] || 0);
                    if (!isNaN(val)) {
                        e.value = val;
                    }
                }
            }
        </script>

        {% block js %}{% endblock %}
    </body>
</html>
