{% extends 'timary/base.html' %}

{% block content %}
    <h1 class="hidden md:block md:text-3xl text-center mt-10">Dashboard</h1>

    <div class="grid grid-flow-row md:grid-flow-col md:grid-cols-6 gap-3 mt-10">
        <div class="col-span-3 md:col-span-2">
            <div class="flex flex-col justify-between items-center">
                {# Dashboard stats #}
                <div class="rounded">
                    <h3 class="md:text-lg uppercase text-center mb-2">Current total stats</h3>
                    {% include 'partials/_dashboard_stats.html' %}
                </div>
                {# Dashboard stats #}

                {# New hours modal #}
                <div id="hours-modal" class="modal items-center">
                    <div class="modal-box">
                        {% include 'partials/_htmx_post_form.html' with form=new_hours id="new-hours-form" url="/hours/" target="#hours-list" swap="afterbegin" modal="true" btn_title='Add new hours' close_link_id="close-hours-modal" md_size="true" %}
                    </div>
                </div>
                {# New hours modal #}
            </div>
        </div>

        <ul id="hours-list" class="col-span-3 mt-10 md:mt-0 md:col-span-4 space-y-5">
            {% for hour in hours %}
                {% include 'partials/_hour.html' with hour=hour %}
            {% empty %}
                <h1 class="text-2xl text-center">Start logging hours!</h1>
                <p class="text-xl text-center">Tip: If you want to log hours by text, add your phone number to your profile.</p>
            {% endfor %}
        </ul>
    </div>


{% endblock %}


{% block js %}
    <script nonce="clear-hours-modal">
        document.body.addEventListener("clearModal", function(){
            document.getElementById("close-hours-modal").click();
            document.getElementById("new-hours-form").reset();
        })
    </script>
{% endblock  %}
