{% extends 'timary/base.html' %}

{% block content %}
    <h1 class="text-3xl text-center my-8 font-bold" id="dashboard-title">Dashboard</h1>
    <div class="grid grid-flow-row md:grid-flow-col md:grid-cols-6 gap-3">
        <div class="col-span-3 md:col-span-2 flex justify-center">
            {% include 'partials/_dashboard_stats.html' %}
        </div>
        {% include "partials/_hours_list.html" %}
    </div>

    {# New hours modal #}
    <input type="checkbox" id="hours-modal" class="modal-toggle">
    <div id="hours-modal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box relative bg-neutral">
            <label _="on click call clearHoursModal()"
                for="hours-modal"
                id="close-hours-modal"
                class="btn btn-sm bg-base-100 btn-circle absolute right-2 top-2">✕</label>
            {% include "hours/_create.html" with form=new_hour_form %}
        </div>
    </div>
    {# New hours modal #}

{% endblock %}


{% block js %}
    <script nonce="manage-hours">
        function clearHoursModal() {
            let errors_list = htmx.find("#new-hours-form .list-none");
            if (errors_list) {
                errors_list.remove();
            }
            htmx.find("#id_hours").value = 1;
            htmx.find("#id_date_tracked").value = new Date().toISOString().split('T')[0];
        }
        htmx.on("clearHoursModal", function(){
            htmx.find("#close-hours-modal").click();
            clearHoursModal();
        })

        var start_timer_btn = document.getElementById("start_timer");
        var pause_timer_btn = document.getElementById("pause_timer");
        var resume_timer_btn = document.getElementById("resume_timer");
        var stop_timer_btn = document.getElementById("stop_timer");
        var reset_timer_btn = document.getElementById("reset_timer");

        function start() {
            hoursTimer.start();
            timer();
            hoursTimer.isPaused = false;
            hoursTimer.isStopped = false;
            timer_container.classList.remove("hidden");
            start_timer_btn.classList.add("hidden");
            pause_timer_btn.classList.remove("hidden");
            stop_timer_btn.classList.remove("hidden");
            reset_timer_btn.classList.remove("hidden");
        }

        function resume() {
            hoursTimer.start();
            timer();
            hoursTimer.isPaused = false;
            hoursTimer.isStopped = false;
            resume_timer_btn.classList.add("hidden");
            pause_timer_btn.classList.remove("hidden");
            stop_timer_btn.classList.remove("hidden");
            reset_timer_btn.classList.remove("hidden");
        }

        function pause() {
            hoursTimer.stop();
            timer();
            hoursTimer.isPaused = true;
            hoursTimer.isStopped = false;
            pause_timer_btn.classList.add("hidden");
            resume_timer_btn.classList.remove("hidden");
            stop_timer_btn.classList.remove("hidden");
            reset_timer_btn.classList.remove("hidden");
            htmx.trigger("#update-timer", "pause_timer")
        }

        function reset() {
            hoursTimer.stop();
            let reset = confirm("Are you sure you want to reset?");

            if (reset) {
                update_timer(0);
                hoursTimer.reset();
                htmx.trigger("#update-timer", "reset_timer")
                resume()
            } else {
                if (!hoursTimer.isPaused && !hoursTimer.isStopped) {
                    hoursTimer.start();
                }
            }
        }

        function stop() {
            hoursTimer.stop();
            hoursTimer.isStopped = true;
            let stopped = confirm("Are you sure you want to stop?");

            if (stopped) {

                let log_hours_btn = document.getElementById("log_hours_btn");
                log_hours_btn.click();

                const timeInSeconds = Math.round(hoursTimer.getTime() / 1000);
                let hrs = Math.floor(timeInSeconds / 3600);
                let mins = Math.floor((timeInSeconds - (hrs * 3600)) / 60);

                let hours_input = document.getElementById("id_hours");
                hours_input.value = timeToDecimal(hrs, mins);

                hoursTimer.reset();
                hoursTimer.isPaused = true;
                hoursTimer.isStopped = true;
                update_timer(0);
                timer_container.classList.add("hidden");
                start_timer_btn.classList.remove("hidden");
                resume_timer_btn.classList.add("hidden");
                pause_timer_btn.classList.add("hidden");
                stop_timer_btn.classList.add("hidden");
                htmx.trigger("#update-timer", "reset_timer")
            } else {
                if (!hoursTimer.isPaused && !hoursTimer.isStopped) {
                    hoursTimer.start();
                }
            }

        }
    </script>
{% endblock  %}
