{% extends 'timary/base.html' %}

{% block css %}
    <style>
        .calendar {
            width: 98%;
            margin: auto;
            font-size: 13px;
        }
        .calendar th {
            padding: 10px;
            text-align: center;
            font-size: 18px;
        }

        .calendar td {
            height: 75px;
            padding: 20px 0px 0px 5px;
        }

        .month {
            font-size: 25px;
        }

        .date {
            font-size: 16px;
        }

        .calendar ul {
            max-width: 50px;
            height: 100%;
            padding: 5px 2px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="flex flex-col md:flex-row space-y-3 md:space-y-0 md:space-x-7 md:px-5 mt-10">
        <div class="block">
            <div class="flex justify-center">
                {% include 'partials/_dashboard_stats.html' %}
            </div>
            <label for="calendar-modal" hx-get="{% url 'timary:calendar' %}" hx-target="#inner-calendar-modal" class="flex flex-row justify-center mb-5 sm:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
                </svg>
                View calendar
            </label>
        </div>
        {% include "partials/_hours_list.html" %}
    </div>

    {# New hours modal #}
    <input type="checkbox" id="hours-modal" class="modal-toggle">
    <div id="hours-modal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box relative bg-neutral">
            <label _="on click call clearHoursModal()"
                for="hours-modal"
                id="close-hours-modal"
                class="btn btn-sm bg-base-100 btn-circle absolute right-2 top-2">✕</label>
            {% include "hours/_create.html" with form=new_hour_form %}
        </div>
    </div>
    {# New hours modal #}

    {# Calendar modal #}
    <input type="checkbox" id="calendar-modal" class="modal-toggle">
    <div id="calendar-modal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box relative bg-neutral">
            <label
                for="calendar-modal"
                id="close-calendar-modal"
                class="btn btn-sm bg-base-100 btn-circle absolute right-2 top-2">✕</label>
            <div id="inner-calendar-modal" class="flex justify-center"></div>
        </div>
    </div>
    {# New hours modal #}

{% endblock %}


{% block js %}
    <script nonce="manage-hours">
        const dateToday = "{{ date_today|escapejs }}"
        function clearHoursModal() {
            let errors_list = htmx.find("#new-hours-form .list-none");
            if (errors_list) {
                errors_list.remove();
            }
            htmx.find("#id_quantity").value = 1;
            htmx.find("#id_date_tracked").valueAsDate = dateToday

            let today = new Date();
            let weekLater = today.setDate(today.getDate() + 7);
            htmx.find("#id_repeat_end_date").value = (new Date(weekLater)).toISOString().split("T")[0];
            htmx.find("#id_repeating").checked = false;
            htmx.find("#id_recurring").checked = false;
            htmx.find("#id_repeat_interval_schedule").value = "d"
            htmx.removeClass(htmx.find("#repeating-wrapper"), "hidden");
            htmx.removeClass(htmx.find("#recurring-wrapper"), "hidden");
            htmx.addClass(htmx.find("#repeat-end-date"), "hidden");
            htmx.addClass(htmx.find("#schedule-selection"), "hidden");
            htmx.addClass(htmx.find("#custom-interval-days"), "hidden");

        }
        htmx.on("clearHoursModal", function(){
            htmx.find("#close-hours-modal").click();
            clearHoursModal();
        })

        var start_timer_btn = document.getElementById("start_timer");
        var pause_timer_btn = document.getElementById("pause_timer");
        var resume_timer_btn = document.getElementById("resume_timer");
        var stop_timer_btn = document.getElementById("stop_timer");
        var reset_timer_btn = document.getElementById("reset_timer");

        function start() {
            hoursTimer.start();
            timer();
            hoursTimer.isPaused = false;
            hoursTimer.isStopped = false;
            timer_container.classList.remove("hidden");
            start_timer_btn.classList.add("hidden");
            pause_timer_btn.classList.remove("hidden");
            stop_timer_btn.classList.remove("hidden");
            reset_timer_btn.classList.remove("hidden");
            setTimeout(function () {
                htmx.addClass(htmx.find("#timer_alert"), "hidden");
            }, 15000);
        }

        function resume() {
            hoursTimer.start();
            timer();
            hoursTimer.isPaused = false;
            hoursTimer.isStopped = false;
            resume_timer_btn.classList.add("hidden");
            pause_timer_btn.classList.remove("hidden");
            stop_timer_btn.classList.remove("hidden");
            reset_timer_btn.classList.remove("hidden");
        }

        function pause() {
            hoursTimer.stop();
            timer();
            hoursTimer.isPaused = true;
            hoursTimer.isStopped = false;
            pause_timer_btn.classList.add("hidden");
            resume_timer_btn.classList.remove("hidden");
            stop_timer_btn.classList.remove("hidden");
            reset_timer_btn.classList.remove("hidden");
            htmx.trigger("#update-timer", "pause_timer")
        }

        function reset() {
            hoursTimer.stop();
            let reset = confirm("Are you sure you want to reset?");

            if (reset) {
                update_timer(0);
                hoursTimer.reset();
                htmx.trigger("#update-timer", "reset_timer")
                resume()
            } else {
                if (!hoursTimer.isPaused && !hoursTimer.isStopped) {
                    hoursTimer.start();
                }
            }
        }

        function stop() {
            hoursTimer.stop();
            hoursTimer.isStopped = true;
            let stopped = confirm("Are you sure you want to stop?");

            if (stopped) {

                let log_hours_btn = document.getElementById("log_hours_btn");
                log_hours_btn.click();

                const timeInSeconds = Math.round(hoursTimer.getTime() / 1000);
                let hrs = Math.floor(timeInSeconds / 3600);
                let mins = Math.floor((timeInSeconds - (hrs * 3600)) / 60);

                let hours_input = document.getElementById("id_quantity");
                hours_input.value = timeToDecimal(hrs, mins);

                hoursTimer.reset();
                hoursTimer.isPaused = true;
                hoursTimer.isStopped = true;
                update_timer(0);
                timer_container.classList.add("hidden");
                start_timer_btn.classList.remove("hidden");
                resume_timer_btn.classList.add("hidden");
                pause_timer_btn.classList.add("hidden");
                stop_timer_btn.classList.add("hidden");
                htmx.trigger("#update-timer", "reset_timer")
            } else {
                if (!hoursTimer.isPaused && !hoursTimer.isStopped) {
                    hoursTimer.start();
                }
            }

        }
    </script>
{% endblock  %}
