{% extends 'timary/base.html' %}

{% block content %}
    <div class="max-w-3xl mx-auto" id="profile">
        <h1 class="text-3xl text-center font-bold my-8 text-center" id="profile">Profile</h1>
        {% include "partials/_profile.html" %}


        <h1 class="text-3xl my-10 text-center">Preferences</h1>
        {% include "partials/settings/preferences/_preferences.html" %}

        <h1 class="text-3xl my-10 text-center">Account</h1>
        {% include "partials/settings/account/_account.html" %}


        <hr class="my-5"/>
        <h1 class="text-3xl my-10 text-center">Dangerous</h1>
        <div class="flex justify-center">
            <a class="link text-center" href="{% url 'timary:close_account' %}">Close account</a>
        </div>
    </div>

    <input type="checkbox" id="sync-modal" class="modal-toggle" />
    <div for="sync-modal" class="modal items-center">
        <div class="modal-box relative lg:w-1/2 lg:max-w-5xl">
            <label
                for="sync-modal"
                class="btn btn-sm btn-circle absolute right-2 top-2 close-sync-modal"
                _="on click call resetSyncView()"
            >
                ✕
            </label>
            <div class="sync-inner-modal" id="sync-inner">
                <div class="flex justify-center">
                    <button class="btn btn-lg loading">loading</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://js.stripe.com/v3/" defer></script>
    <script>
        function resetSyncView() {
            htmx.find("#sync-inner").innerHTML = `
            <div class="flex justify-center">
                <button class="btn btn-lg loading">loading</button>
            </div>
            `;
        }
    </script>
{% endblock %}
