{% extends 'timary/base.html' %}

{% block content %}
    <div class="max-w-3xl mx-auto" id="profile">
        <h1 class="text-3xl my-10 text-center" id="profile">Your profile</h1>
        {% include "partials/_profile.html" %}


        <h1 class="text-3xl my-10 text-center">Settings</h1>
        {% include "partials/_settings.html" %}

        <hr />
        <h1 class="text-3xl my-10 text-center">Dangerous</h1>
        <div class="flex justify-center">
            <a class="link text-center" href="{% url 'timary:close_account' %}">Close account</a>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://js.stripe.com/v3/" defer></script>
{% endblock %}
