{% extends 'timary/base.html' %}

{% block content %}
    <div class="max-w-3xl mx-auto">
        <h1 class="text-3xl my-6 text-center" id="profile">Your profile</h1>
        {% include "partials/_profile.html" %}

        <h1 class="text-3xl my-6 text-center">Your settings</h1>
        {% include "partials/_settings.html" %}

        {% if user.can_integrate_with_accounting_tools %}
            <h1 class="text-3xl my-6 text-center">Your integrations</h1>
            {% include "partials/_integrations.html" %}
        {% endif %}

    </div>
    <div class="max-w-xl mx-auto">
        {% if sent_invoices.count > 0 %}
            <h3 class="text-lg my-6 text-center">Sent invoices</h3>
            <ul>
                {% for sent_invoice in sent_invoices %}
                    {% include "partials/_sent_invoice.html" with sent_invoice=sent_invoice %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>


    <div class="max-w-xl mx-auto">
        {% if archived_invoices.count > 0 %}
            <h3 class="text-lg my-6 text-center">Archived invoices</h3>
            <ul>
                {% for archive_invoice in archived_invoices %}
                    {% include "partials/_archive_invoice.html" with archive_invoice=archive_invoice %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <hr />
    <h1 class="text-3xl my-6 text-center">Dangerous</h1>
    <div class="flex justify-center">
        <a class="link text-center" href="{% url 'timary:close_account' %}">Close account</a>
    </div>
{% endblock %}
