{% extends "proposals/base_form.html" %}
{% block form %}

    <div class="flex flex-col space-y-4 mb-4 md:mb-0 md:space-y-0 md:flex-row justify-between items-baseline">
        <div class="text-2xl font-bold">Proposal for {{ proposal.client.name }}</div>
        <div class="flex flex-row space-x-2">
            <button class="btn btn-sm"
                hx-get="{% url 'timary:send_proposal' proposal_id=proposal.id %}" hx-swap="none"
                _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from me end"
            >
                Send copy to client
            </button>
            <a class="btn btn-sm"
                hx-get="{% url 'timary:send_proposal' proposal_id=proposal.id %}" hx-swap="none"
                _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from me end"
                download
            >
                Download pdf
            </a>
            <button class="btn btn-ghost btn-sm"
                hx-delete="{% url 'timary:delete_proposal' proposal_id=proposal.id %}"
                hx-confirm="Are you sure you want to delete this proposal?">
                Delete
            </button>

        </div>
    </div>


    <form class="md:m-5 md:p-5" action="{% url 'timary:update_proposal' proposal_id=proposal.id %}" method="post">
        {% csrf_token %}
        <div class="form-control mb-10">
            <label class="label">
                <span class="label-text">{{ form.title.label_tag }}</span>
            </label>
            <div>{{ form.title }}</div>
        </div>
        <div class="h-screen">
            <input id="editor-body" type="hidden" name="body" value="{{ form.body.value }}" />
            <trix-editor input="editor-body" class="trix-editor bg-neutral border border-gray-700 border-2 border-solid rounded-lg"></trix-editor>
        </div>

        <div class="flex justify-center mt-20">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
{% endblock form %}
