<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="bg-neutral" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet" type="text/css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.2.2/dist/full.css" rel="stylesheet" type="text/css" />
        <title>Invoice Generator by Timary</title>
    </head>
    <body>
    <main class="max-w-5xl mx-auto">
        <h1 class="text-5xl font-bold text-center my-10 tracking-wide">Invoice Generator</h1>
        <div class="flex flex-col space-y-3">
            <input type="text" placeholder="Company Name" class="input input-ghost input-lg font-bold w-full max-w-xs" style="font-size: 2rem;"/>
            <input type="text" placeholder="Your Name" class="input input-ghost input-md font-bold w-full max-w-xs ml-2" />
            <input type="text" placeholder="Email Address" class="input input-ghost input-md font-bold w-full max-w-xs ml-2" />
        </div>
    </main>
    </body>
</html>