black
boto3
factory-boy
django
django-browser-reload
django-csp
django-multiselectfield
django-otp
django-phonenumber-field
django-q
django-render-block
django-storages
django-twilio
djangorestframework
djangorestframework-xml
httmock
openpyxl
Pillow
playwright
pre-commit
python-decouple
qrcode
sentry-sdk
stripe
twilio
weasyprint
whitenoise
