black
boto3
factory-boy
django
django-browser-reload
django-csp
# django-multiselectfield
# Use this until django-mulitselectfield is updated
git+https://github.com/macmichael01/django-multiselectfield@master
django-otp
django-phonenumber-field
django-q
django-storages
django-twilio
httmock
openpyxl
Pillow
playwright
pre-commit
python-decouple
qrcode
sentry-sdk
stripe
twilio
weasyprint
whitenoise
