black
boto3
factory-boy
django
django-crispy-forms
django-csp
django-multiselectfield
django-otp
django-phonenumber-field
django-q
django-twilio
httmock
openpyxl
playwright
pre-commit
python-decouple
qrcode
sentry-sdk
stripe
twilio
whitenoise
