<div class="card bg-base-200 bordered" id="integrations-container">
    <div class="card-body">
        <div class="flex flex-col space-y-5 md:flex-row md:space-x-5 md:space-y-0 items-center md:justify-center">
            {% if settings.quickbooks_connected %}
                <div class="flex flex-col justify-center space-y-2">
                    <label class="label">Account connected: Quickbooks</label>
                    <a hx-delete="{% url 'timary:quickbooks_disconnect' %}"
                        hx-confirm="Are you sure you want to disconnect Quickbooks?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        _="on click add .loading to me"
                        class="btn btn-outline">
                        Disconnect?
                    </a>
                </div>
            {% elif settings.accounting_integrations_connected|length_is:"0" %}
                <div>
                    <a href="{% url 'timary:quickbooks_connect' %}" class="btn">Connect QuickBooks</a>
                </div>

            {% endif %}

            {% if settings.freshbooks_connected %}
                <div class="flex flex-col justify-center space-y-2">
                    <label class="label">Account connected: Freshbooks</label>
                    <a hx-delete="{% url 'timary:freshbooks_disconnect' %}"
                        hx-confirm="Are you sure you want to disconnect Freshbooks?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        _="on click add .loading to me"
                        class="btn btn-outline">
                        Disconnect?
                    </a>
                </div>
            {% elif settings.accounting_integrations_connected|length_is:"0" %}
                <div>
                    <a href="{% url 'timary:freshbooks_connect' %}" class="btn">Connect FreshBooks</a>
                </div>
            {% endif %}

            {% if settings.zoho_connected %}
                <div class="flex flex-col justify-center space-y-2">
                    <label class="label">Account connected: Zoho</label>
                    <a hx-delete="{% url 'timary:zoho_disconnect' %}"
                        hx-confirm="Are you sure you want to disconnect Zoho?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        _="on click add .loading to me"
                        class="btn btn-outline">
                        Disconnect?</a>
                </div>
            {% elif settings.accounting_integrations_connected|length_is:"0" %}
                <div>
                    <a href="{% url 'timary:zoho_connect' %}" class="btn">Connect Zoho</a>
                </div>
            {% endif %}

            {% if settings.xero_connected %}
                <div class="flex flex-col justify-center space-y-2">
                    <label class="label">Account connected: Xero</label>
                    <a hx-delete="{% url 'timary:xero_disconnect' %}"
                        hx-confirm="Are you sure you want to disconnect Xero?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        _="on click add .loading to me"
                        class="btn btn-outline">
                        Disconnect?
                    </a>
                </div>
            {% elif settings.accounting_integrations_connected|length_is:"0" %}
                <div>
                    <a href="{% url 'timary:xero_connect' %}" class="btn">Connect Xero</a>
                </div>
            {% endif %}

            {% if settings.sage_connected %}
                <div class="flex flex-col justify-center space-y-2">
                    <label class="label">Account connected: Sage</label>
                    <a hx-delete="{% url 'timary:sage_disconnect' %}"
                        hx-confirm="Are you sure you want to disconnect Sage?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        _="on htmx:beforeRequest add .loading to me"
                        class="btn btn-outline">
                        Disconnect?
                    </a>
                </div>
            {% elif settings.accounting_integrations_connected|length_is:"0" %}
                <div>
                    <a href="{% url 'timary:accounting_connect' %}?service=SageService"  class="btn">Connect Sage</a>
                </div>
            {% endif %}
        </div>
        <div class="card-actions flex justify-center mt-10">
            <a hx-get="{% url 'timary:settings_partial' setting='accounting'%}" hx-target="#integrations-container" hx-swap="outerHTML" class="btn btn-sm btn-ghost" _="on click add .loading to me">Close</a>
        </div>
    </div>
</div>
