<form action="{% url 'timary:update_payment_method_settings' %}" method="post" class="col-span-3">
    {% csrf_token %}
    <div class="form-control">
        <label class="label"><span class="label-text">Debit card</span> </label>
        <div id="card-element"></div>
        <label class="label">
            <span class="label-text-alt">Stripe requires a debit card to process your invoices into your
                bank account.</span>
        </label>
    </div>

    <div class="flex justify-center space-x-4">
        <a hx-get="{% url 'timary:settings_partial' setting='payment_method' %}" hx-target="closest form" hx-swap="outerHTML" class="btn btn-ghost" _="on click add .loading to me"> Cancel </a>
        <button class="btn btn-primary" id="submit-form" type="submit" _="on click add .loading to me"> Update </button>
    </div>
    <div class="flex justify-center invisible" id="loader">
        <svg class="animate-spin h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    </div>
</form>

<script nonce="update-payment-method" defer>
    const stripe = Stripe('{{ stripe_public_key }}');

    let elements;
    let cardElement;

    initialize();

    let signupButton = document.querySelector("#submit-form");
    signupButton.addEventListener("click", handleSubmit);

    // Fetches a payment intent and captures the client secret
    function initialize() {
        elements = stripe.elements({ clientSecret: '{{ client_secret }}' });

        cardElement = elements.create("card", {
            style: {
                base: {
                    iconColor: '#c4f0ff',
                    color: '#fff',
                    fontWeight: '500',
                    fontFamily: 'Roboto, Open Sans, Segoe UI, sans-serif',
                    fontSize: '16px',
                    fontSmoothing: 'antialiased',
                    ':-webkit-autofill': {
                        color: '#fce883',
                    },
                },
                invalid: {
                    iconColor: '#ff5724',
                    color: '#ff5724',
                },
            },
            classes: {
                base: 'input input-bordered text-lg px-2 py-3'
            }
        });
        cardElement.mount("#card-element");
    }

    function createHiddenInput(el, val) {
        let element = document.createElement("input");
        element.className = el;
        element.name = el;
        element.value = val;
        element.id = `id_${el}`;
        element.hidden = true;
        return element;
    }

    function handleSubmit(e) {
        e.preventDefault();
        document.getElementById("submit-form").classList.add("invisible");
        document.getElementById("loader").classList.remove("invisible");

        stripe.createToken(cardElement, {"currency": "usd"}).then(function(firstToken) {
            let first_token = firstToken.token;
            stripe.createToken(cardElement, {"currency": "usd"}).then(function(secondToken) {
                let second_token = secondToken.token;

                if (secondToken.token) {

                    let form = document.querySelector("form");
                    form.appendChild(createHiddenInput('first_token', first_token.id));
                    form.appendChild(createHiddenInput('second_token', second_token.id));
                    form.submit()

                    // Remove event listener
                    signupButton.removeEventListener("click", handleSubmit);
                } else {
                    document.getElementById("submit-form").classList.remove("invisible");
                    document.getElementById("loader").classList.add("invisible");
                    if (secondToken.error.type === "card_error" || secondToken.error.type === "validation_error") {
                        showMessage(secondToken.error.message);
                    } else {
                        showMessage("An unexpected error occurred.");
                    }
                }
            });
        });
    }
</script>
