<div class="wrapper">
    {% if success %}
        <div class="alert alert-success shadow-lg max-w-xl mx-auto my-2">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <span>{{ success }}</span>
            </div>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-warning shadow-lg max-w-xl mx-auto my-2">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <span>{{ error }}</span>
            </div>
        </div>
    {% endif %}
    <form>
        <div class="form-control w-full">
            <label class="label">
                <span class="label-text">Invite them by their email</span>
            </label>
            <label class="input-group">
                {{ invite_form.email }}
                <span hx-post="{% url 'timary:invite_new_user' %}" hx-include="[name='email']" hx-target="closest .wrapper" hx-swap="outerHTML">Send</span>
            </label>
        </div>
    </form>

    <div class="card-actions flex justify-center mt-10">
        <a hx-get="{% url 'timary:settings_partial' setting='referral'%}" hx-target="closest .wrapper" hx-swap="outerHTML" class="btn btn-sm btn-ghost" _="on click add .loading to me">Close</a>
    </div>
</div>
