<div class="container col-span-3 grid grid-cols-3 gap-4">
    <div>
        <div class="tooltip" data-tip="Which days do you want texted to logs hours for ">
            <span>SMS days preferred:</span>
        </div>
    </div>
    <div> {% for day in settings.phone_number_availability %} {{ day }} {% endfor %}</div>
    <a class="link"
        hx-get="{% url 'timary:update_sms_settings' %}"
        hx-target="closest .container"
        hx-swap="outerHTML"
        hx-indicator="#settings_spinnr">Edit availability</a>

</div>
