<div class="card bg-base-200 bordered" id="integrations-container">
    <div class="card-body">
        <div class="flex flex-col space-y-5 md:flex-row md:space-x-5 md:space-y-0 items-center md:justify-center">
            <div>
                {% if settings.quickbooks_connected %}
                    <a hx-delete="{% url 'timary:quickbooks_disconnect' %}"
                        hx-confirm="Are you sure you want to remove Quickbooks?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        _="on click add .loading to me"
                        class="btn btn-outline">
                        Disconnect quickbooks?
                    </a>
                {% else %}
                    <a href="{% url 'timary:quickbooks_connect' %}" class="btn">Connect QuickBooks</a>
                {% endif %}
            </div>

            <div>
                {% if settings.freshbooks_connected %}
                    <a hx-delete="{% url 'timary:freshbooks_disconnect' %}"
                        hx-confirm="Are you sure you want to remove Freshbooks?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        _="on click add .loading to me"
                        class="btn btn-outline">
                        Disconnect freshbooks?
                    </a>
                {% else %}
                    <a href="{% url 'timary:freshbooks_connect' %}" class="btn">Connect FreshBooks</a>
                {% endif %}
            </div>

            <div>
                {% if settings.zoho_connected %}
                    <a hx-delete="{% url 'timary:zoho_disconnect' %}"
                        hx-confirm="Are you sure you want to remove Zoho?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        _="on click add .loading to me"
                        class="btn btn-outline">
                        Disconnect zoho?</a>
                {% else %}
                    <a href="{% url 'timary:zoho_connect' %}" class="btn">Connect Zoho</a>
                {% endif %}
            </div>

            <div>
                {% if settings.xero_connected %}
                    <a hx-delete="{% url 'timary:xero_disconnect' %}"
                        hx-confirm="Are you sure you want to remove Xero?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        _="on click add .loading to me"
                        class="btn btn-outline">
                        Disconnect xero?
                    </a>
                {% else %}
                    <a href="{% url 'timary:xero_connect' %}" class="btn">Connect Xero</a>
                {% endif %}
            </div>

            <div>
                {% if settings.sage_connected %}
                    <a hx-delete="{% url 'timary:sage_disconnect' %}"
                        hx-confirm="Are you sure you want to remove Sage?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        _="on click add .loading to me"
                        class="btn btn-outline">
                        Disconnect sage?
                    </a>
                {% else %}
                    <a href="{% url 'timary:sage_connect' %}" class="btn">Connect Sage</a>
                {% endif %}
            </div>
        </div>
        <div class="card-actions flex justify-center mt-10">
            <a hx-get="{% url 'timary:settings_partial' setting='accounting'%}" hx-target="#integrations-container" hx-swap="outerHTML" class="btn btn-sm btn-ghost" _="on click add .loading to me">Close</a>
        </div>
    </div>
</div>
