{% extends 'timary/base.html' %}
{% load filters %}

{% block content %}

    <div class="max-w-xl mx-auto mt-6">
        <h3 class="text-3xl mb-4 text-left font-bold">Forgot password</h3>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Your Email</span>
                    </label>
                    <input type="email" name="email" autocomplete="email" maxlength="254"
                        placeholder="youremail@example.com"
                        class="input input-bordered border-2 bg-neutral text-xl w-full placeholder-gray-500 placeholder-opacity-7"
                        required="" id="id_email">
                    {% for error in field.errors %}
                        <div class="text-red-600">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
            <div class="flex justify-center mt-8">
                <button type="submit" class="btn btn-primary">Send me the link</button>

            </div>
        </form>
    </div>
{% endblock %}
