<form class="bg-neutral rounded-xl max-w-5xl mx-auto w-full"
    {% if form.initial %}
        hx-post="{% url 'timary:update_client' client_id=form.instance.id%}"
        hx-swap="outerHTML"
        hx-target="this"
    {% else %}
        hx-post="{% url 'timary:create_client' %}"
        hx-swap="beforeend"
        hx-target="#clients-list"
        id="new-client-form"
    {% endif %}
    _="on submit remove .hidden from .loading in .submit-btn in me end on htmx:afterRequest add .hidden to .loading in .submit-btn in me end"
>
    {% if form.errors %}
        {% include "partials/_form_errors.html" with form_errors=form.errors %}
    {% endif %}

    <div class="flex card-body -mx-5 md:mx-0">
        <div class="flex flex-col justify-center space-y-2">
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text">{{ form.name.label_tag }}</span>
                </label>
                <div>{{ form.name }}</div>
            </div>
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text">{{ form.email.label_tag }}</span>
                </label>
                <div>{{ form.email }}</div>
            </div>
        </div>
        <div class="flex flex-col justify-center space-y-2">
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text">{{ form.phone_number.label_tag }}</span>
                </label>
                <div>{{ form.phone_number }}</div>
                <label class="label -mb-2">
                    <span class="label-text-alt">Optional</span>
                </label>
            </div>
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text">{{ form.address.label_tag }}</span>
                </label>
                <div>{{ form.address }}</div>
                <label class="label -mb-2">
                    <span class="label-text-alt">Optional</span>
                </label>
            </div>
        </div>
    </div>
    <div class="card-actions flex justify-center space-x-5 mb-4">
        {% if form.initial %}
            <button hx-get="{% url 'timary:get_client' client_id=form.instance.id %}" hx-target="closest form" hx-swap="outerHTML"
                class="btn btn-ghost btn-sm md:btn-md" type="button"
                _="on htmx:beforeRequest remove .hidden from .loading in me end">
                <span class="loading loading-spinner loading-xs hidden"></span>
                Cancel
            </button>
            <button class="btn btn-primary btn-sm md:btn-md submit-btn" type="submit">
                <span class="loading loading-spinner loading-xs hidden"></span>
                Update
            </button>
        {% else %}
            <button class="btn btn-primary btn-sm md:btn-md submit-btn" type="submit">
                <span class="loading loading-spinner loading-xs hidden"></span>
                Add new client
            </button>
        {% endif %}
    </div>
</form>
