{% extends "email/base_invoice.html" %}
{% load tz %}

{% block preheader %}
    <span class="preheader">This is an invoice for {{ user_name }}'s services. Please submit payment by {{ due_date }}</span>
{% endblock %}

{% block main %}
    <div class="mb-6">
        <div class="mt-0 mb-4 text-3xl font-semibold text-left">Hi {{ invoice.client.name }},</div>
        <div class="my-2 text-xl leading-7">Thanks for using Timary. This is an invoice for {{ user_name }}'s services.</div>
    </div>
    <div class="text-xl font-medium my-4 p-6 tracking-wide bg-base-300">
        <div class="mb-1">
            <strong>Amount Due: ${{ total_amount | floatformat:-2 }}</strong>
        </div>
        <div>
            <strong>Due By:</strong> {{ due_date }}
        </div>
    </div>
    <div class="mx-1">
        <div class="flex justify-between mt-6 text-xl font-medium">
            <div>Invoice #{{ invoice.email_id }}</div>
            <strong>{{ tomorrows_date }}</strong>
        </div>
        <div class="flex justify-between pb-3 border-b border-gray-200">
            <div>Description</div>
            <div>Amount</div>
        </div>
        <div class="border-b border-gray-200 pb-2">
            {% for hour in hours_tracked %}
                <div class="flex justify-between py-3">
                    <div>{{ hour.quantity|floatformat:-2 }} hours on {{ hour.date_tracked | timezone:invoice.user.timezone | date:"M j"}}</div>
                    <div>${{ hour.cost | floatformat:-2 }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="flex justify-end text-xl font-semibold mt-6 mb-10">
            <div>Total</div>
            <div class="ml-24">${{ total_amount | floatformat:-2 }}</div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="flex justify-center my-12">
        <a class="btn btn-lg btn-success" href="{{ site_url }}{% url 'timary:manage_invoices' %}">
            Edit Hours
        </a>
    </div>
{% endblock %}
