<div>
    <div>
        <h1> Invoice for {{date | date:"SHORT_DATE_FORMAT"}} </h1>
    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Hourly Rate</th>
            <th>Total Hours Worked</th>
        </tr>
        <tr>
            <td>{{ invoice.title }}</td>
            <td>${{ invoice.hourly_rate }}</td>
            <td>{{ total_hours_worked }}</td>
        </tr>
    </table>
    <div>
        Total Amount Due: ${% widthratio total_hours_worked 1 invoice.hourly_rate %}
    </div>
</div>
