{% extends "email/base_invoice.html" %}

{% block preheader %}
    {% if next_weeks_date %}
        <span class="preheader">This is an invoice for {{ user_name }}'s services. Please submit payment by {{ next_weeks_date }}</span>
    {% else %}
        <span class="preheader">This is a copy of the invoice paid for {{ user_name }}'s services on {{ todays_date }}.</span>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="mb-6">
        <div class="mt-0 mb-4  text-3xl font-semibold text-left">Hi {{ invoice.email_recipient_name }},</div>
        {% if next_weeks_date %}
            <div class="my-2 text-xl leading-7">Thanks for using Timary. This is an invoice for {{ user_name }}'s services.</div>
        {% else %}
            <div class="my-2 text-xl leading-7">Thanks for using Timary. This is a copy of the invoice paid for {{ user_name }}'s services on {{ todays_date }}.</div>
        {% endif %}
    </div>

    <div class="text-xl font-medium my-4 p-6 tracking-wide bg-base-300">
        {% if next_weeks_date %}
            <div class="mb-1">
                <strong>Amount Due: ${{ total_amount|add:"5"|floatformat }}</strong>
            </div>
            <div>
                <strong>Due By:</strong> {{ next_weeks_date }}
            </div>
        {% else %}
            <div class="mb-1">
                <strong>Total Paid: ${{ total_amount|add:"5"|floatformat }}</strong>
            </div>
        {% endif %}
    </div>

    {% if can_accept_payments %}
        <div class="flex justify-center my-12">
            <a class="btn btn-lg btn-success" href="{{ site_url }}{% url 'timary:pay_invoice' sent_invoice_id=sent_invoice.id %}">
                Pay Invoice
            </a>
        </div>
    {% endif %}

    <div class="mx-1">
        <div class="flex justify-between mt-6 text-xl font-medium">
            <div>Invoice #{{ sent_invoice.email_id }}</div>
            <strong>{{ todays_date }}</strong>
        </div>
        <div class="flex justify-between pb-3 border-b border-gray-200">
            <div>Description</div>
            <div>Amount</div>
        </div>
        <div class="border-b border-gray-200 pb-2">
            {% if invoice.invoice_type != 3 %}
                {% for hour in hours_tracked %}
                    <div class="flex justify-between py-3 text-xl">
                        <div>{{ hour.hours }} hours on {{ hour.date_tracked | date:"M j"}}</div>
                        <div>${{ hour.cost | floatformat }}</div>
                    </div>
                {% endfor %}
            {% elif invoice.invoice_type == 3 %}
                <div class="flex justify-between py-3 text-xl">
                    <div>Week of {{ todays_date | date:"M j, Y" }}</div>
                    <div>${{ total_amount | floatformat }}</div>
                </div>
            {% endif %}
            <div class="flex justify-between py-3 text-xl">
                <div>Stripe ACH Fee</div>
                <div>$5</div>
            </div>
        </div>
        <div class="flex justify-end text-xl font-semibold  mt-6 mb-10">
            <div>Total</div>
            <div class="ml-24">${{ total_amount|add:"5"|floatformat }}</div>
        </div>

        <div class="my-6">
            <div class="text-lg">If you have any questions about this invoice, reach out to our <a href="support_url">support team</a> for help.</div>
            <p class="text-lg">Cheers,<br>The Timary Team</p>
        </div>
    </div>

{% endblock %}
