{% extends "email/base_invoice.html" %}

{% block preheader %}
    <span class="preheader">Thanks for using Timary. This is a weekly progress report for {{ user_name }}'s services working on {{ invoice.title }}.</span>
{% endblock %}

{% block main %}

    <div class="mb-6">
        <div class="mt-0 mb-4 text-3xl font-semibold text-left">Hi {{ recipient_name }},</div>
        <div class="my-2 text-xl leading-7">Thanks for using Timary. This is an weekly progress report for {{ user_name }}'s services working on {{ invoice.title }}.</div>
    </div>
    <div class="mx-1">
        <div class="flex justify-between pb-3 border-b border-gray-200">
            <div>Description</div>
            <div>Amount</div>
        </div>
        <div class="border-b border-gray-200 pb-2">
            {% for hour in hours_tracked %}
                <div class="flex justify-between py-3 text-xl">
                    <div>{{ hour.hours }} hours on {{ hour.date_tracked | date:"M j"}}</div>
                    <div>${{ hour.cost | floatformat:-2 }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="flex justify-end text-xl font-semibold mt-6 mb-10">
            <div>Total This Week</div>
            <div class="ml-24">${{ total_amount | floatformat:-2 }}</div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% if invoice.budget_percentage > 0 %}
        <div class="flex flex-col space-y-2 justify-center items-center my-12">
            <p class="mb-2 text-center text-xl font-medium">Invoice Budget</p>
            <div
                class="radial-progress bg-accent border-4 border-accent"
                style="--value:{{ invoice.budget_percentage }}; --thickness: 4px;"
            >
                {{ invoice.budget_percentage|floatformat:-2 }}%
            </div>
        </div>
    {% endif %}
{% endblock %}
