{% load filters %}
<form class=""
    hx-post="{% url 'timary:create_hours' %}"
    hx-swap="outerHTML"
    hx-target="#hours-list"
    id="new-hours-form"
    _="on submit add .loading to .submit-btn in me end on htmx:afterRequest remove .loading from .submit-btn in me"
>
    {% if form.errors %}
        {% include "partials/_form_errors.html" with form_errors=form.errors %}
    {% endif %}

    <div class="card-body -mx-5">
        <div class="flex flex-row space-x-2 w-full">
            <div class="w-32 sm:w-full">
                <label class="label">
                    <span class="label-text">{{ form.quantity.label_tag }}</span>
                </label>
                <div>{{ form.quantity }}</div>
            </div>
            <div class="w-full">
                <label class="label">
                    <span class="label-text">{{ form.date_tracked.label_tag }}</span>
                </label>
                <div>{{ form.date_tracked }}</div>
            </div>
        </div>
        <div class="w-full">
            <label class="label">
                <span class="label-text">{{ form.invoice.label_tag }}</span>
            </label>
            <div>
                <select name="invoice" class="select select-bordered border-2 w-full" required="" id="id_invoice" multiple="">
                    {% for value, label in form.fields.invoice.choices %}
                        {% if value %}
                            <option value="{{ value }}" {% if forloop.counter0 == 1 %} selected="" {% endif %}>{{ label }}</option>
                        {% endif %}
                    {% endfor %}

                </select>
            </div>

            {% if form.invoice.field.widget.attrs.qs_count == 0 %}
                <div class="text-error text-sm">You don't have any active invoices.</div>
            {% endif %}
        </div>
        <div>
            <div class="form-control w-full" id="repeating-wrapper">
                <label class="cursor-pointer label">
                    <span class="label-text">Repeating?</span>
                    <input type="checkbox" name="repeating" id="id_repeating" class="toggle"
                        _="on change toggle .hidden on #recurring-wrapper then toggle .hidden on #schedule-selection then toggle .hidden on #repeat-end-date" />
                </label>
                <div class="hidden flex justify-between items-baseline w-full" id="repeat-end-date">
                    <label class="label">
                        <span class="label-text">End on:</span>
                    </label>
                    {% now "Y-m-d" as today %}
                    <input type="date" name="repeat_end_date" id="id_repeat_end_date" class="input input-bordered border-2 h-8" min="{% now "Y-m-d" %}" value="{{today|adddays:"7"|date:"Y-m-d"}}"/>
                </div>
            </div>
            <div class="form-control w-full" id="recurring-wrapper">
                <label class="cursor-pointer label">
                    <span class="label-text">Recurring?</span>
                    <input type="checkbox" name="recurring" id="id_recurring" class="toggle" _="on change toggle .hidden on #repeating-wrapper then toggle .hidden on #schedule-selection" />
                </label>
            </div>
            <div class="flex justify-between space-x-3 hidden" id="schedule-selection">
                <div class="form-control w-full" >
                    <label class="label">
                        <span class="label-text">Select an interval</span>
                    </label>
                    <select class="select select-bordered border-2 w-full"
                        name="repeat_interval_schedule" id="id_repeat_interval_schedule"
                        _="on change if my.value == 'w' or my.value == 'b' then remove .hidden from #custom-interval-days else add .hidden to #custom-interval-days"
                    >
                        <option value="d" selected>Daily</option>
                        <option value="w">Weekly</option>
                        <option value="b">Every other week</option>
                    </select>
                </div>
                <div class="form-control w-full hidden" id="custom-interval-days">
                    <label class="label">
                        <span class="label-text">Which days?</span>
                    </label>
                    <select class="select select-bordered border-2 w-full" name="repeat_interval_days" id="id_repeat_interval_days" multiple>
                        <option value="sun">Sunday</option>
                        <option value="mon" selected>Monday</option>
                        <option value="tue">Tuesday</option>
                        <option value="wed">Wednesday</option>
                        <option value="thu">Thursday</option>
                        <option value="fri">Friday</option>
                        <option value="sat">Saturday</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card-actions flex justify-center">
        <button
            _="on click call convertHoursInput(htmx.find('#id_quantity')) then send submit to #new-hours-form"
            class="btn btn-primary submit-btn"> Add new hours</button>
    </div>
</form>
