<form class="card bg-neutral text-neutral-content"
    hx-post="{% url 'timary:create_hours' %}"
    hx-swap="outerHTML"
    hx-target="#hours-list"
    id="new-hours-form"
    _="on submit add .loading to .submit-btn end on htmx:afterRequest remove .loading from .submit-btn"
>
    {% if form.errors %}
        {% include "partials/_form_errors.html" with form_errors=form.errors %}
    {% endif %}

    <div class="flex flex-col space-y-2 md:flex-row md:space-x-2 md:space-y-0 card-body">
        <div class="flex space-x-3">
            <div class="form-control w-full md:w-20">
                <label class="label">
                    <span class="label-text">{{ form.hours.label_tag }}</span>
                </label>
                <div>{{ form.hours }}</div>
            </div>

            <div>
                <label class="label">
                    <span class="label-text">{{ form.date_tracked.label_tag }}</span>
                </label>
                <div>{{ form.date_tracked }}</div>
            </div>
        </div>
        <div class="w-full">
            <label class="label">
                <span class="label-text">{{ form.invoice.label_tag }}</span>
            </label>
            <div>{{ form.invoice }}</div>
        </div>

    </div>
    <div class="card-actions flex justify-center"> <a href="#" class="btn" id="close-hours-modal" _="on click call clearHoursModal()">Close</a>
        <button hx-trigger="enterKey, click" class="btn btn-primary submit-btn" type="submit"> Add new hours</button>
    </div>
</form>
