<form class="card"
    hx-patch="{% url 'timary:patch_hours' hours_id=form.instance.id %}"
    hx-swap="outerHTML"
    hx-target="this"
    hx-vals='{"invoice": "{{ form.instance.invoice.id }}" }'
    _="on submit add .loading to .submit-btn in me end on htmx:afterRequest remove .loading from .submit-btn in me"
>

    {% if form.errors %}
        {% include "partials/_form_errors.html" with form_errors=form.errors %}
    {% endif %}

    {% if success_msg %}
        {% include "partials/_form_success.html" with message=success_msg %}
    {% endif %}

    <div class="card-body">
        <div class="flex flex-row space-x-2 w-full">
            <div class="w-full">{{ form.hours }}</div>
            <div class="w-full">{{ form.date_tracked }}</div>
        </div>
        <div class="card-actions justify-center md:justify-end mt-4 space-x-4">
            <button class="btn btn-error btn-sm" hx-delete="{% url 'timary:delete_hours' hours_id=form.instance.id %}" hx-swap="outerHTML" hx-target="closest form">
                Delete
            </button>
            <button hx-trigger="enterKey, click" class="btn btn-primary btn-sm submit-btn" type="submit">Update</button>
        </div>
    </div>

</form>
