<form class="card bg-neutral text-neutral-content"
    hx-post="{% url 'timary:update_user_profile' %}"
    hx-swap="outerHTML"
    hx-target="this"
    hx-encoding="multipart/form-data"
    id="update-hours-form"
    _="on submit remove .hidden from .loading in .submit-btn in me end on htmx:afterRequest add .hidden to .loading in .submit-btn in me end"
>
    {% if form.errors %}
        {% include "partials/_form_errors.html" with form_errors=form.errors %}
    {% endif %}


    <div class="flex flex-col space-y-2 card-body">
        <div class="form-control w-full">
            <div>{{ form.profile_pic }}</div>
        </div>

        <div class="flex flex-col space-y-2 md:flex-row md:space-x-2 md:space-y-0">
            <div class="w-full">
                <label class="label">
                    <span class="label-text">First name</span>
                </label>
                {{ form.first_name }}
            </div>
            <div class="w-full">
                <label class="label">
                    <span class="label-text">Last name</span>
                </label>
                {{ form.last_name }}
            </div>
        </div>

        <div class="flex flex-col space-y-2 md:flex-row md:space-x-2 md:space-y-0">
            <div class="w-full">
                <label class="label">
                    <span class="label-text">Email</span>
                </label>
                {{ form.email }}
            </div>
            <div class="w-full">
                <label class="label">
                    <span class="label-text">Phone number</span>
                </label>
                {{ form.phone_number }}
            </div>
        </div>

        <div class="w-full">
            <label class="label">
                <span class="label-text">Your timezone</span>
            </label>
            {{ form.timezone }}
        </div>


    </div>
    <div class="card-actions mb-5 flex justify-center space-x-10 ">
        <a class="btn btn-ghost btn-sm md:btn-md" hx-get="{% url 'timary:user_profile_partial' %}" hx-target="closest form" hx-swap="outerHTML"
            _="on click remove .hidden from .loading in me end">
            <span class="loading loading-spinner loading-xs hidden"></span>
            Cancel
        </a>
        <button class="btn btn-primary btn-sm md:btn-md submit-btn" type="submit">
            <span class="loading loading-spinner loading-xs hidden"></span>
            Update
        </button>
    </div>
</form>
