<div class="card bg-base-200 bordered" id="integrations-container">
    <div class="card-body">
        <div class="flex flex-col space-y-5 md:flex-row md:space-x-5 md:space-y-0 items-center md:justify-center">
            {% if settings.accounting_connected %}
                <div class="flex flex-col justify-center space-y-2">
                    <label class="label">Account connected: {{ settings.accounting_connected|title }}</label>
                    <a hx-delete="{% url 'timary:accounting_disconnect' %}"
                        hx-confirm="Are you sure you want to disconnect {{ settings.accounting_connected|title }}?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from me end"
                        class="btn btn-outline">
                        Disconnect?
                    </a>
                </div>
            {% else%}
                <div>
                    <a href="{% url 'timary:accounting_connect' %}?service=quickbooks" class="btn">Connect QuickBooks</a>
                </div>
                <div>
                    <a href="{% url 'timary:accounting_connect' %}?service=freshbooks" class="btn">Connect FreshBooks</a>
                </div>
                <div>
                    <a href="{% url 'timary:accounting_connect' %}?service=zoho" class="btn">Connect Zoho</a>
                </div>
                <div>
                    <a href="{% url 'timary:accounting_connect' %}?service=xero" class="btn">Connect Xero</a>
                </div>
                <div>
                    <a href="{% url 'timary:accounting_connect' %}?service=sage"  class="btn">Connect Sage</a>
                </div>
            {% endif %}
        </div>
        <div class="card-actions flex justify-center items-end mt-10 gap-10">
            <div>
                <p>Clients not synced: <strong>{{ unsynced_clients }}</strong></p>
                <p>Paid invoices not synced: <strong>{{ unsynced_invoices }}</strong></p>
            </div>
            {% if settings.accounting_connected %}
                <label for="sync-modal" hx-get="{% url 'timary:accounting_sync' %}" hx-target=".sync-inner-modal" hx-swap="innerHTML" class="btn btn-sm btn-accent"
                    _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from me">Sync All Data</label>
            {% endif %}

            <a hx-get="{% url 'timary:settings_partial' setting='accounting'%}" hx-target="#integrations-container" hx-swap="outerHTML" class="btn btn-sm btn-ghost">Close</a>
        </div>
    </div>
</div>
