{% extends 'timary/base.html' %}
{% block title %} Signup {% endblock %}

{% block content %}

    <div class="max-w-xl mx-auto mt-6">
        <h1 class="text-3xl mb-4 text-center">Signup</h1>

        <div class="p-10 card bg-base-200">
            <div class="card-body">
                {% include 'partials/_form.html' with form=form btn_title='Continue' %}
            </div>
        </div>

        <p class="flex justify-center mt-6">
            <a class="text-sm link link-hover" href="{% url 'timary:login' %}">Login?</a>
        </p>
    </div>

{% endblock %}
