{% extends 'timary/base.html' %}
{% load filters %}

{% block title %} Signup {% endblock %}

{% block content %}
    <div class="max-w-3xl mx-auto mt-6">
        <h1 class="text-3xl mb-4 text-center">Signup</h1>

        <div class="flex justify-center">
            <div class="shadow stats flex flex-col w-full md:flex-row mb-10 mx-5">

                <div class="stat flex flex-row md:flex-col justify-between">
                    <div>
                        <div class="stat-title">Starter</div>
                        <div class="stat-value">$5/m</div>
                        <div class="stat-desc">1 recurring invoice</div>
                    </div>
                    <div>
                        <div class="stat-actions">
                            <button class="btn btn-sm btn-accent btn-outline" id="starter"
                                _="on click call selectSubscriptionPlan(event)">Select</button>
                        </div>
                    </div>
                </div>

                <div class="stat flex flex-row md:flex-col content-center justify-between">
                    <div>
                        <div class="stat-title">Professional</div>
                        <div class="stat-value">$19/m</div>
                        <div class="stat-desc">2 recurring invoices</div>
                    </div>
                    <div>
                        <div class="stat-actions">
                            <button class="btn btn-sm btn-accent plan-chosen" id="professional"
                                _="on click call selectSubscriptionPlan(event)">Chosen</button>
                        </div>
                    </div>
                </div>

                <div class="stat flex flex-row md:flex-col justify-center content-center justify-between">
                    <div>
                        <div class="stat-title">Business</div>
                        <div class="stat-value">$49/m</div>
                        <div class="stat-desc">unlimited recurring invoices</div>
                    </div>
                    <div>
                        <div class="stat-actions">
                            <button class="btn btn-sm btn-accent btn-outline" id="business"
                                _="on click call selectSubscriptionPlan(event)">Select</button>
                        </div>
                    </div>
                </div>

                <div class="stat flex flex-row md:flex-col justify-center content-center justify-between">
                    <div>
                        <div class="stat-title">Fee</div>
                        <div class="stat-value">1% fee</div>
                        <div class="stat-desc">per invoice payment</div>
                        <div class="stat-desc">Same features as Business</div>
                    </div>
                    <div>
                        <div class="stat-actions">
                            <button class="btn btn-sm btn-accent btn-outline" id="invoice_fee"
                                _="on click call selectSubscriptionPlan(event)">Select</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="max-w-xl mx-auto">
            <div class="card p-5 bg-neutral text-neutral-content">
                <div class="card-body">
                    {% if form.errors %}
                        {% include "partials/_form_errors.html" with form_errors=form.errors %}
                    {% endif %}
                    <form action="{% url 'timary:register' %}" method="post">
                        {% csrf_token %}

                        {% for field in form.visible_fields %}
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">{{ field.label}}</span>
                                </label>
                                {{ field | addclass:"input input-bordered w-full text-xl"}}
                                {% for error in field.errors %}
                                    <div class="text-red-600">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <div class="form-control">
                            <label class="label"><span class="label-text">Debit card</span> </label>
                            <div id="card-element"></div>
                            <label class="label">
                                <span class="label-text-alt">Stripe requires a debit card to process your invoices into your
                                    bank account.</span>
                            </label>
                            <div id="payment-message" class="hidden text-red-600"></div>
                        </div>

                        <div class="card-actions flex justify-center mt-8">
                            <button class="btn btn-disabled" type="submit" id="register-btn"> Continue </button>
                        </div>
                        <div class="flex justify-center invisible" id="loader">
                            <svg class="animate-spin h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                        </div>
                    </form>
                </div>
            </div>

            <p class="flex justify-center mt-6">
                <a class="text-sm link link-hover" href="{% url 'timary:login' %}">Login?</a>
            </p>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="https://js.stripe.com/v3/"></script>
    <script nonce="pay-invoice">
        const stripe = Stripe('{{ stripe_public_key }}');

        let elements;
        let cardElement;

        initialize();

        let signupButton = document.querySelector("#register-btn");
        signupButton.addEventListener("click", handleSubmit);

        // Fetches a payment intent and captures the client secret
        function initialize() {
            elements = stripe.elements({ clientSecret: '{{ client_secret }}' });
            cardElement = elements.create("card", {{ stripe_card_element_ui|safe }});
            cardElement.mount("#card-element");

            let registerBtn = htmx.find("#register-btn");
            cardElement.on('change', function(e) {
                if (e.complete) {
                    htmx.removeClass(registerBtn, "btn-disabled");
                    htmx.addClass(registerBtn, "btn-primary")
                } else {
                    htmx.addClass(registerBtn, "btn-disabled");
                    htmx.removeClass(registerBtn, "btn-primary")
                }
            })
        }

        function selectSubscriptionPlan(e) {
            e.preventDefault();
            let old_plan = document.querySelector(".plan-chosen");
            old_plan.classList.remove('plan-chosen');
            old_plan.classList.add('btn-outline');
            old_plan.innerText = "Select";

            let plan = document.getElementById(e.target.id);
            plan.classList.add('plan-chosen');
            plan.classList.remove('btn-outline');
            plan.innerText = "Chosen";
        }

        function createHiddenInput(el, val) {
            let element = document.createElement("input");
            element.className = el;
            element.name = el;
            element.value = val;
            element.id = `id_${el}`;
            element.hidden = true;
            return element;
        }

        function showMessage(messageText) {
            document.getElementById("register-btn").classList.remove("invisible");
            document.getElementById("loader").classList.add("invisible");
            const messageContainer = document.querySelector("#payment-message");

            messageContainer.classList.remove("hidden");
            messageContainer.textContent = messageText;
        }

        function handleSubmit(e) {
            e.preventDefault();
            document.getElementById("register-btn").classList.add("invisible");
            document.getElementById("loader").classList.remove("invisible");

            stripe.createToken(cardElement, {"currency": "usd"}).then(function(firstToken) {

                if (!firstToken.error) {
                    let first_token = firstToken.token;
                    stripe.createToken(cardElement, {"currency": "usd"}).then(function (secondToken) {
                        let second_token = secondToken.token;

                        if (!secondToken.error) {
                            let form = document.querySelector("form");
                            let chosenPlan = document.querySelector(".plan-chosen");
                            form.appendChild(createHiddenInput("membership_tier", chosenPlan.id.toUpperCase()));
                            form.appendChild(createHiddenInput('first_token', first_token.id));
                            form.appendChild(createHiddenInput('second_token', second_token.id));
                            form.submit()
                        } else {
                            showMessage(secondToken.error.message);
                        }
                    });
                } else {
                    showMessage(firstToken.error.message);
                }
            });
        }
    </script>
{% endblock %}
