{% load filters waffle_tags %}

<li class="card card-bordered border-neutral bg-base-200 w-full" id="{{invoice.slug_title}}">
    <div class="card-body">
        <div class="flex justify-between">
            <div class="flex items-center mb-4">
                <h2 class="text-3xl font-bold overflow-x-hidden">{{ invoice.title }}</h2>
            </div>
            <div class="dropdown dropdown-left rounded-box mb-4">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-neutral rounded-box w-64 md:w-80 z-auto">
                    <li>
                        <a class="btn btn-sm" hx-get="{% url 'timary:edit_invoice' invoice.id %}" hx-target="#{{ invoice.slug_title }}" hx-swap="outerHTML"
                            _="on click add .loading to me">
                            Edit
                        </a>
                    </li>
                    {% switch "can_view_expenses" %}
                        <li>
                            <label for="manage-expenses-modal" hx-get="{% url 'timary:get_expenses' invoice_id=invoice.id %}" hx-target=".manage-expenses-inner-modal" hx-swap="innerHTML" class="btn btn-sm">
                                Manage expenses
                            </label>
                        </li>
                    {% endswitch %}
                    <li>
                        <label for="sent-invoices-modal" hx-get="{% url 'timary:sent_invoices_list' invoice_id=invoice.id %}" hx-target=".sent-invoices-inner-modal" hx-swap="innerHTML" class="btn btn-sm">
                            View sent invoices
                        </label>
                    </li>
                    {% block actions %}
                    {% endblock actions %}
                    <li>
                        <a hx-get="{% url 'timary:archive_invoice' invoice_id=invoice.id %}" hx-confirm="Are you sure you want to archive this invoice?" hx-target="closest #{{ invoice.slug_title }}" hx-swap="outerHTML" class="btn btn-sm"
                            _="on htmx:beforeRequest add .loading to me">
                            Archive
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            {% block body %}
            {% endblock body %}
            <div class="flex mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-5">
                    <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
                </svg>
                {{ invoice.client.name }}
            </div>
            {% if invoice.invoices_pending > 0 %}
                <div class="flex mb-2 text-yellow-200">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                    </svg>
                    Invoices pending: {{ invoice.invoices_pending }}
                </div>
            {% endif %}
            {% if invoice.budget_percentage > 0 %}
                <div class="flex mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75V18m-7.5-6.75h.008v.008H8.25v-.008zm0 2.25h.008v.008H8.25V13.5zm0 2.25h.008v.008H8.25v-.008zm0 2.25h.008v.008H8.25V18zm2.498-6.75h.007v.008h-.007v-.008zm0 2.25h.007v.008h-.007V13.5zm0 2.25h.007v.008h-.007v-.008zm0 2.25h.007v.008h-.007V18zm2.504-6.75h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V13.5zm0 2.25h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V18zm2.498-6.75h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V13.5zM8.25 6h7.5v2.25h-7.5V6zM12 2.25c-1.892 0-3.758.11-5.593.322C5.307 2.7 4.5 3.65 4.5 4.757V19.5a2.25 2.25 0 002.25 2.25h10.5a2.25 2.25 0 002.25-2.25V4.757c0-1.108-.806-2.057-1.907-2.185A48.507 48.507 0 0012 2.25z" />
                    </svg>
                    Budget: <span class="mx-1
                        {% if invoice.budget_percentage > 90 %}
                            text-red-200
                        {% elif invoice.budget_percentage > 75 %}
                            text-yellow-200
                        {% endif %}
                    ">{{ invoice.budget_percentage|floatformat:2 }}%</span> reached
                </div>
            {% endif %}
        </div>
        {% block footer %}
        {% endblock footer %}
        <div tabindex="0" class="collapse collapse-arrow rounded-md -ml-3 -mr-2 -mb-5"
            hx-get="{% url 'timary:view_invoice_details' invoice_id=invoice.id %}"
            hx-trigger="click once"
            hx-target="find .collapse-content"
            hx-swap="innerHTML"
        >
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium mb-4">View more</div>
            <div class="collapse-content">
                <div class="flex justify-center">
                    <button class="btn btn-lg btn-ghost loading">loading</button>
                </div>
            </div>
        </div>
    </div>
</li>
