{% load filters %}
<li class="card card-bordered border-neutral bg-base-200 w-full" id="{{invoice.slug_title}}">
    <div class="card-body">
        <div class="flex justify-between">
            <div class="flex items-center mb-4">
                <h2 class="text-3xl font-bold overflow-x-hidden">{{ invoice.title }}</h2>
            </div>
            <div class="dropdown dropdown-left rounded-box mb-4">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-neutral rounded-box w-64 md:w-80 z-auto">
                    <li>
                        <a class="btn btn-sm" hx-get="{% url 'timary:edit_invoice' invoice.id %}" hx-target="#{{ invoice.slug_title }}" hx-swap="outerHTML"
                            _="on click add .loading to me">
                            Edit
                        </a>
                    </li>
                    <li>
                        <label for="sent-invoices-modal" hx-get="{% url 'timary:sent_invoices_list' invoice_id=invoice.id %}" hx-target=".sent-invoices-inner-modal" hx-swap="innerHTML" class="btn btn-sm">
                            View sent invoices
                        </label>
                    </li>
                    {% block actions %}
                    {% endblock actions %}
                    <li>
                        <a hx-get="{% url 'timary:archive_invoice' invoice_id=invoice.id %}" hx-confirm="Are you sure you want to archive this invoice?" hx-target="closest #{{ invoice.slug_title }}" hx-swap="outerHTML" class="btn btn-sm"
                            _="on htmx:beforeRequest add .loading to me">
                            Archive
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            {% block body %}
            {% endblock body %}
            <div class="flex mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-5">
                    <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
                </svg>
                {{ invoice.client.name }}
            </div>
            {% if invoice.invoices_pending > 0 %}
                <div class="flex mb-2 text-yellow-200">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                    </svg>
                    Invoices pending: {{ invoice.invoices_pending }}
                </div>
            {% endif %}
        </div>
        {% block footer %}
        {% endblock footer %}
        <div tabindex="0" class="collapse collapse-arrow rounded-md -mx-5">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium mb-4">View more</div>
            <div class="collapse-content" id="hours-logged">
                <div class="flex flex-col justify-evenly md:flex-row w-full">
                    {% if invoice.get_hours_tracked.count > 0 %}
                        <div class="flex flex-grow flex-col items-center w-full max-w-2xl">
                            <p class="text-center mb-1">Hours logged this period</p>
                            <p class="text-center text-sm mb-6"> {{ invoice.last_date|date:"M. j" }} - {{ invoice.next_date|date:"M. j" }}</p>
                            <div class="h-full w-3/4">
                                <ul class="list-none"
                                    hx-get="{% url 'timary:invoice_hour_stats' invoice_id=invoice.id %}"
                                    hx-trigger="refreshHourStats-{{ invoice.email_id }} from:body"
                                    hx-swap="innerHTML">
                                    {% include 'partials/_invoice_period_hours.html' with invoice=invoice %}
                                </ul>
                                <div class="flex justify-center">
                                    <label
                                        for="edit-hours-modal"
                                        class="btn btn-outline btn-sm modal-button my-5"
                                        hx-get="{% url 'timary:edit_invoice_hours' invoice_id=invoice.id %}"
                                        hx-target=".inner-modal"
                                        hx-swap="innerHTML"
                                        _="on click add .loading to me end
                                            on htmx:afterRequest remove .loading from me end"
                                    >
                                        Edit hours
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="divider md:divider-horizontal"></div>
                    {% endif %}
                    {% if invoice.budget_percentage > 0 %}
                        <div class="flex flex-col w-full">
                            <div class="text-center mb-5">Budget</div>
                            <div class="flex justify-center mb-5 sm:mb-12">
                                <div
                                    class="radial-progress text-black bg-accent border-4 border-accent"
                                    style="--value:{{ invoice.budget_percentage|floatformat:-2 }}; --thickness: 4px;"
                                >
                                    {{ invoice.budget_percentage|floatformat:2 }}%
                                </div>
                            </div>
                        </div>
                        <div class="divider md:divider-horizontal"></div>
                    {% endif %}
                    <div class="w-full sm:w-3/4 md:w-1/2 mx-auto">
                        <div class="flex flex-row justify-center w-full h-full md:h-[225px]">
                            <canvas id="chart-{{ invoice.email_id }}"></canvas>
                        </div>
                    </div>
                    <script>
                        delete config_{{ invoice.email_id }};
                        config_{{ invoice.email_id }} = {
                            type: 'bar',
                            data: {
                                datasets: [
                                    {
                                        "data": {{ invoice.get_last_six_months.1|safe }},
                                        "label": "Earnings",
                                        "fill": false,
                                        "backgroundColor": ["rgba(255, 99, 132, 0.2)","rgba(255, 159, 64, 0.2)","rgba(255, 205, 86, 0.2)","rgba(75, 192, 192, 0.2)","rgba(54, 162, 235, 0.2)","rgba(153, 102, 255, 0.2)","rgba(201, 203, 207, 0.2)"],
                                        "borderColor": ["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)","rgb(153, 102, 255)","rgb(201, 203, 207)"],
                                        "borderWidth": 1
                                    }
                                ],
                                labels: {{ invoice.get_last_six_months.0|safe }}
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                legend: {
                                    labels: {
                                        padding: 20,
                                        fontSize: 15
                                    }
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            autoSkip: false,
                                            maxTicksLimit: 20
                                        },
                                    }]
                                },
                                tooltips: {
                                    callbacks: {
                                        title: function(tooltipItem, data) {
                                            return data['labels'][tooltipItem[0]['index']];
                                        },
                                        label: function(tooltipItem, data) {
                                            return `$${parseFloat(data['datasets'][0]['data'][tooltipItem['index']]).toFixed(2)}`;
                                        }
                                    },
                                    backgroundColor: '#FFF',
                                    titleFontSize: 16,
                                    titleFontColor: '#0066ff',
                                    bodyFontColor: '#000',
                                    bodyFontSize: 14,
                                    displayColors: false
                                }
                            }
                        };
                        new Chart(document.getElementById('chart-{{invoice.email_id}}'), config_{{ invoice.email_id }});
                    </script>
                </div>

            </div>
        </div>
    </div>
</li>
