{% extends 'timary/base.html' %}
{% block css %}
    <style rel="stylesheet" media="all">
        @import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap");
        body {
            font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="pb-0 w-full px-4">

        <h1 class="text-2xl text-center my-8">Update your custom invoice</h1>

        <div class="flex">
            <div class="w-2/5">
                <div class="w-3/4">
                    <form hx-post="{% url 'timary:update_invoice_branding' %}" hx-swap="none">
                        {% csrf_token %}
                        <div class="form-control">
                            <label class="label" for="due_date">
                                <span class="label-text">Due date</span>
                            </label>
                            <select class="select select-bordered" name="due_date"
                                _=" on load set my.value to {{ invoice_branding_config.due_date_selected }}
                                    on change put updateDueDate(my.value) into #next_week.innerHTML">
                                <option value="1" selected>1 Week</option>
                                <option value="2">2 Weeks</option>
                                <option value="4">1 Month</option>
                            </select>
                        </div>

                        <div class="divider"></div>
                        <div class="form-control">
                            <label class="label" for="company_name">
                                <span class="label-text">Business name</span>
                            </label>
                            <input
                                name="company_name"
                                class="input input-bordered w-full"
                                placeholder="Company Inc"
                                value="{{ invoice_branding_config.user_name }}"
                                _="
                                    set element oldValue to #biz_display_name.innerHTML
                                    on keyup if my.value put my.value into #biz_display_name.innerHTML else put oldValue into #biz_display_name.innerHTML
                                "/>
                        </div>
                        <div class="divider"></div>
                        <div class="form-control">
                            <label class="label" for="company_name">
                                <span class="label-text">Hide Timary branding</span>
                            </label>
                            <input
                                type="checkbox"
                                name="hide_timary"
                                class="toggle"
                                {% if invoice_branding_config.hide_timary %} checked {% endif %}
                                _="
                                    on load if {{ invoice_branding_config.hide_timary|yesno:"true,false" }} add .hidden to .timary_branding else remove .hidden from .timary_branding end
                                        on change toggle .hidden on .timary_branding"/>
                        </div>
                        {% if user.profile_pic %}
                            <div class="divider"></div>
                            <div class="form-control">
                                <label class="label" for="company_name">
                                    <span class="label-text">Show your face picture</span>
                                </label>
                                <input
                                    type="checkbox"
                                    name="show_profile_pic"
                                    class="toggle"
                                    {% if invoice_branding_config.show_profile_pic %} checked {% endif %}
                                    _="
                                        on load if {{ invoice_branding_config.show_profile_pic|yesno:"true,false" }} remove .hidden from .show_picture else add .hidden  to .show_picture end
                                            on change toggle .hidden on .show_picture"/>
                            </div>
                        {% endif %}
                        <div class="divider"></div>
                        <div class="form-control">
                            <label class="label" for="linked_in">
                                <span class="label-text">LinkedIn</span>
                            </label>
                            <input
                                name="linked_in"
                                class="input input-bordered w-full"
                                placeholder=""
                                value="{{ invoice_branding_config.linked_in }}"
                                _="on load if {{ invoice_branding_config.linked_in|yesno:"true,false" }} remove .hidden from #linked_in else add .hidden to #linked_in end
                                    on keyup if my.value put my.value into #linked_in.href then remove .hidden from #linked_in else add .hidden to #linked_in"/>
                            <label class="label">
                                <span class="label-text-alt">Include https://www.</span>
                            </label>
                        </div>
                        <div class="divider"></div>
                        <div class="form-control">
                            <label class="label" for="twitter">
                                <span class="label-text">Twitter</span>
                            </label>
                            <input
                                name="twitter"
                                class="input input-bordered w-full"
                                placeholder=""
                                value="{{ invoice_branding_config.twitter }}"
                                _="on load if {{ invoice_branding_config.twitter|yesno:"true,false" }} remove .hidden from #twitter else add .hidden to #twitter end
                                    on keyup if my.value put my.value into #twitter.href then remove .hidden from #twitter else add .hidden to #twitter"/>
                            <label class="label">
                                <span class="label-text-alt">Include https://www.</span>
                            </label>
                        </div>
                        <div class="divider"></div>
                        <div class="form-control">
                            <label class="label" for="youtube">
                                <span class="label-text">Youtube</span>
                            </label>
                            <input
                                name="youtube"
                                class="input input-bordered w-full"
                                placeholder=""
                                value="{{ invoice_branding_config.youtube }}"
                                _="on load if {{ invoice_branding_config.youtube|yesno:"true,false" }} remove .hidden from #youtube else add .hidden to #youtube end
                                    on keyup if my.value put my.value into #youtube.href then remove .hidden from #youtube else add .hidden to #youtube"/>
                            <label class="label">
                                <span class="label-text-alt">Include https://www.</span>
                            </label>
                        </div>
                        <div class="divider"></div>
                        <div class="flex justify-center">
                            <button class="btn btn-primary" type="submit" id="submit_btn"
                                _="on click add .loading to me"
                            >Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="divider divider-horizontal py-5"></div>
            <div class="w-3/5">
                <div class="pb-8 text-center">
                    <a href="https://www.usetimary.com" class="text-xl font-bold no-underline timary_branding">
                        Timary
                    </a>
                </div>

                <div class="bg-base-100">
                    <div class="max-w-2xl mx-auto pt-12 pb-1 px-2">
                        <div class="mb-6">
                            <div class="mt-0 mb-4  text-3xl font-semibold text-left">Hi Bob,</div>
                            <div class="my-2 text-xl leading-7">Thanks for using Timary. This is an invoice for <span id="biz_display_name">{{ invoice_branding_config.user_name }}</span>'s services.</div>
                        </div>

                        <div class="text-xl font-medium my-4 p-6 tracking-wide bg-base-300">
                            <div class="mb-1">
                                <strong>Amount Due: $175</strong>
                            </div>
                            <div>
                                <strong>Due By:</strong>  <span id="next_week">{{ invoice_branding_config.next_weeks_date }}</span>
                            </div>
                        </div>

                        {% if can_accept_payments %}
                            <div class="flex justify-center my-12">
                                <a class="btn btn-lg btn-success" href="{{ site_url }}{% url 'timary:pay_invoice' sent_invoice_id=sent_invoice.id %}">
                                    Pay Invoice
                                </a>
                            </div>
                        {% endif %}

                        <div class="mx-1">
                            <div class="flex justify-between mt-6 text-xl font-medium">
                                <div>Invoice #abc123def</div>
                                <strong>{{ todays_date }}</strong>
                            </div>
                            <div class="flex justify-between pb-3 border-b border-gray-200">
                                <div>Description</div>
                                <div>Amount</div>
                            </div>
                            <div class="border-b border-gray-200 pb-2">
                                <div class="flex justify-between py-3 text-xl">
                                    <div>2.5 hours on {{ todays_date | date:"M j"}}</div>
                                    <div>$125</div>
                                </div>
                                <div class="flex justify-between py-3 text-xl">
                                    <div>1 hours on {{ yesterday_date | date:"M j"}}</div>
                                    <div>$50</div>
                                </div>
                            </div>
                            <div class="flex justify-end text-xl font-semibold  mt-6 mb-10">
                                <div>Total</div>
                                <div class="ml-24">$175</div>
                            </div>

                            <div class="my-6">
                                <div class="text-lg">If you have any questions about this invoice, reach out to our <a href="support_url">support team</a> for help.</div>
                                <p class="text-lg">Cheers,<br>The Timary Team</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="show_picture flex justify-center my-4">
                            {% if user.profile_pic %}
                                <div class="avatar">
                                    <div class="w-24 rounded-full">
                                        <img src="{{ user.profile_pic.url }}" />
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="social_media my-8 flex flex-col space-y-1">
                            <a href="{{ invoice_branding_config.linked_in }}" id="linked_in" class="link text-center hidden">Linkedin</a>
                            <a href="{{ invoice_branding_config.twitter }}" id="twitter" class="link text-center hidden">Twitter</a>
                            <a href="{{ invoice_branding_config.youtube }}" id="youtube" class="link text-center hidden">Youtube</a>
                        </div>
                        <div class="timary_branding">
                            <p class="text-center">&copy; {% now "Y" %} Timary. All rights reserved.</p>
                            <p class="text-center">
                                Timary LLC
                                <br>
                                Worcester, MA
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block js %}
    <script nonce="invoice_branding">
        function updateDueDate(select_option) {
            let date = new Date();
            let numWeeks = 1;
            if (select_option === "1") {
                numWeeks = 1;
            } else if (select_option === "2") {
                numWeeks = 2;
            } else if (select_option === "4") {
                numWeeks = 4;
            } else {
                numWeeks = 1;
            }
            date.setDate(date.getDate() + numWeeks * 7);
            return date.toLocaleDateString('en-us', { month:"short", day:"2-digit", year: "numeric"});
        }
        htmx.on("showMessage", function(e) {
            htmx.removeClass(htmx.find("#submit_btn"), "loading")
        })
    </script>
{% endblock %}
