{% extends 'timary/base.html' %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <div class="flex flex-col md:flex-row items-center md:items-baseline md:justify-between max-w-6xl mx-auto mt-5 sm:mt-10 sm:px-5">
        <div class="tabs mb-5 md:mb-0 mx-auto md:mx-0"  _="on click take .tab-active from .tab for event.target">
            <a class="tab tab-bordered tab-active"
                _="on click call clearInnerContent() then add .hidden to #new-client-btn then remove .hidden from #new-invoice-btn"
                hx-get="{% url 'timary:get_invoices' %}" hx-target="#inner-content" hx-swap="innerHTML"
            >Invoices</a>
            <a class="tab tab-bordered" id="new-client-tab"
                _="on click call clearInnerContent() then add .hidden to #new-invoice-btn then remove .hidden from #new-client-btn"
                hx-get="{% url 'timary:get_clients' %}" hx-target="#inner-content" hx-swap="innerHTML"
            >Clients</a>
            <a class="tab tab-bordered"
                _="on click call clearInnerContent() then add .hidden to #new-client-btn then add .hidden to #new-invoice-btn"
                hx-get="{% url 'timary:get_archive_list' %}" hx-target="#inner-content" hx-swap="innerHTML"
            >Archived Invoices</a>
        </div>
        <div class="flex flex-row gap-2">
            <div class="dropdown dropdown-hover dropdown-bottom dropdown-end" id="new-invoice-btn">
                <label tabindex="0" class="btn btn-sm btn-primary">New invoice</label>
                <div tabindex="0" class="dropdown-content">
                    <ul class="menu bg-neutral w-56 rounded-box">
                        <li
                            hx-get="{% url 'timary:create_invoice' %}?type=interval"
                            hx-target="#new-invoice-inner"
                            hx-trigger="click"
                            hx-swap="innerHTML"
                        >
                            <label class="flex flex-col" for="new-invoice-modal">
                                <span class="text-xl font-bold text-left">Interval</span>
                                <span class="text-sm">A recurring invoice sent out on a schedule</span>
                            </label>
                        </li>
                        <li
                            hx-get="{% url 'timary:create_invoice' %}?type=milestone"
                            hx-target="#new-invoice-inner"
                            hx-trigger="click"
                            hx-swap="innerHTML">
                            <label class="flex flex-col" for="new-invoice-modal">
                                <span class="text-xl font-bold text-left">Milestone</span>
                                <span class="text-sm">Break up your invoice into steps</span>
                            </label>
                        </li>
                        <li
                            hx-get="{% url 'timary:create_invoice' %}?type=weekly"
                            hx-target="#new-invoice-inner"
                            hx-trigger="click"
                            hx-swap="innerHTML">
                            <label class="flex flex-col" for="new-invoice-modal">
                                <span class="text-xl font-bold text-left">Weekly</span>
                                <span class="text-sm">Flat rate bill sent out Mondays</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <a href="{% url 'timary:single_invoice' %}?">
                                    <label class="flex flex-col">
                                        <span class="text-xl font-bold text-center mb-2">Single Invoice</span>
                                        <span class="text-sm">Non-recurring one-time invoice</span>
                                    </label>
                                </a>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="new-client-btn" class="hidden flex flex-row gap-3">
                {% if request.user.accounting_org %}
                    <div class="flex justify-center">
                        <button class="btn btn-sm" _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from me"
                            hx-get="{% url 'timary:get_accounting_clients' %}" hx-target="#inner-content" hx-swap="innerHTML">
                            Fetch from {{ request.user.accounting_org|title }}
                        </button>
                    </div>
                {% endif %}
                <label tabindex="0" class="btn btn-sm btn-primary" for="new-client-modal" id="create-new-client">New client</label>
            </div>
        </div>
    </div>

    <div class="max-w-4xl mx-auto w-full mt-5 md:mt-10 sm:px-5 lg:px-0" id="inner-content">
        {% include "invoices/list.html" %}
    </div>

    {# New invoice modal #}
    <input type="checkbox" id="new-invoice-modal" class="modal-toggle">
    <div class="modal items-end md:items-center">
        <div class="modal-box relative bg-neutral w-full max-w-3xl mx-auto">
            <label _="on click call clearInvoiceModal()"
                for="new-invoice-modal"
                id="close-invoice-modal"
                class="btn btn-sm bg-base-100 btn-circle absolute right-2 top-2">✕</label>
            <div id="new-invoice-inner" class="w-full">
                <div class="flex justify-center">
                    <button class="btn btn-lg btn-ghost loading">loading</button>
                </div>
            </div>

        </div>
    </div>
    {# New invoice modal #}

    {# Edit hours modal #}
    <input type="checkbox" id="edit-hours-modal" class="modal-toggle" />
    <div for="edit-hours-modal" class="modal modal-bottom md:modal-middle">
        <div class="modal-box relative bg-neutral">
            <h3 class="font-bold text-lg my-6">Update hours for this invoice period</h3>
            <label
                for="edit-hours-modal"
                class="btn bg-base-100 btn-sm btn-circle absolute right-2 top-2 close-edit-hours-modal"
                _="on click call resetEditHoursView()"
            >
                ✕
            </label>
            <div class="inner-modal" id="edit-hours-inner">
                <div class="flex justify-center">
                    <button class="btn btn-lg btn-ghost loading">loading</button>
                </div>
            </div>
        </div>
    </div>
    {# Edit hours modal #}

    {# Sent invoices modal #}
    <input type="checkbox" id="sent-invoices-modal" class="modal-toggle" />
    <div class="modal modal-bottom md:modal-middle">
        <div class="modal-box relative bg-neutral lg:w-1/2 lg:max-w-5xl">
            <h3 class="font-bold text-lg my-6">View sent invoices</h3>
            <label
                for="sent-invoices-modal"
                class="btn btn-sm bg-base-100 btn-circle absolute right-2 top-2 close-sent-invoices-modal"
                _="on click call resetSentInvoicesView()"
            >✕</label>
            <div class="sent-invoices-inner-modal" id="sent-invoices-inner">
                <div class="flex justify-center">
                    <button class="btn btn-lg btn-ghost loading">loading</button>
                </div>
            </div>
        </div>
    </div>
    {# Sent invoices modal #}

    {# New client modal #}
    <input type="checkbox" id="new-client-modal" class="modal-toggle">
    <div class="modal items-end md:items-center">
        <div class="modal-box relative bg-neutral w-full max-w-3xl mx-auto">
            <label _="on click call clearClientModal()"
                for="new-client-modal"
                id="close-client-modal"
                class="btn btn-sm bg-base-100 btn-circle absolute right-2 top-2">✕</label>
            <div id="new-client-inner" class="w-full">
                {% include "clients/_form.html" with form=new_client %}
            </div>

        </div>
    </div>
    {# New client modal #}

    {# Manage expeneses modal #}
    <input type="checkbox" id="manage-expenses-modal" class="modal-toggle">
    <div class="modal modal-bottom md:modal-middle">
        <div class="modal-box relative bg-neutral lg:w-1/2 lg:max-w-3xl">
            <h3 class="font-bold text-lg my-6">Manage expenses</h3>
            <label _="on click call clearExpensesContent()"
                for="manage-expenses-modal"
                class="btn btn-sm bg-base-100 btn-circle absolute right-2 top-2 close-expenses-modal">✕</label>
            <div id="manage-expenses-inner" class="manage-expenses-inner-modal">
                <div class="flex justify-center">
                    <button class="btn btn-lg btn-ghost loading">loading</button>
                </div>
            </div>

        </div>
    </div>
    {# New client modal #}

{% endblock %}

{% block js %}
    <script nonce="manage-invoices">
        var LOADER = `
        <div class="flex justify-center">
            <button class="btn btn-lg btn-ghost loading">loading</button>
        </div>
        `;

        function clearInnerContent() {
            htmx.find("#inner-content").innerHTML = LOADER;
        }

        function clearInvoiceModal() {
            htmx.find("#new-invoice-inner").innerHTML = LOADER;
            htmx.process(document.body)
        }

        function clearClientModal() {
            htmx.find("#id_name").value = "";
            htmx.find("#id_email").value = "";
        }

        function clearExpensesContent() {
            htmx.find("#manage-expenses-inner").innerHTML = LOADER;
        }

        function resetEditHoursView() {
            htmx.find("#edit-hours-inner").innerHTML = LOADER;
        }

        function resetSentInvoicesView() {
            htmx.find("#sent-invoices-inner").innerHTML = LOADER;
        }

        htmx.on("clearClientModal", function() {
            htmx.find("#close-client-modal").click();
            clearClientModal()
        })

        htmx.on("clearInvoiceModal", function(){
            htmx.find("#close-invoice-modal").click();
            htmx.find("#new-invoice-inner").innerHTML = LOADER;
        });

        htmx.on("clearExpensesModal", function() {
            htmx.find("#id_description").value = "";
            htmx.find("#id_cost").value = "";
            htmx.find("#id_date_tracked").value = new Date().toISOString().split('T')[0]
            htmx.find(".expense-form .errorlist").remove()
        })
    </script>
{% endblock  %}
