{% extends 'timary/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css" rel="stylesheet" type="text/css" />
    <style>
        .charts-css.column {
            height: 200px;
            max-width: 200px;
            margin: 0 auto;
        }
    </style>

    {% include 'partials/_new_invoice_btn.html' %}

    <div>
        <div class="md:flex justify-center mb-4 hidden">
            <div class="stats shadow">
                <div class="stat place-items-center">
                    <div class="stat-value">${{ sent_invoices_owed }}</div>
                    <div class="stat-desc">owed</div>
                </div>

                <div class="stat place-items-center">
                    <div class="stat-value">${{ sent_invoices_earned }}</div>
                    <div class="stat-desc">total earned</div>
                </div>

            </div>
        </div>

        <ul class="space-y-5" id="invoices-list">
            {% for invoice in invoices %}
                {% include 'partials/_invoice.html' with invoice=invoice %}
            {% empty %}
                <div>
                    <div class="hero">
                        <div class="flex-col justify-center hero-content lg:flex-row">
                            <div class="text-center lg:text-left md:mr-20">
                                <h1 class="mb-5 text-5xl font-bold" id="intro-text">
                                    Hello there
                                </h1>
                                <p class="mb-5">
                                    We all gotta start somewhere right? Begin your journey by adding your first invoicing details.
                                </p>
                            </div>
                            <div class="flex-shrink-0 w-full max-w-xl shadow-2xl bg-base-100">
                                {% crispy new_invoice %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>

    {# New invoice modal #}
    <div id="new-invoice-modal" class="modal">
        <div class="modal-box bg-neutral">
            {% crispy new_invoice %}
        </div>
    </div>
    {# New invoice modal #}

    {# Edit hours modal #}
    <input type="checkbox" id="edit-hours-modal" class="modal-toggle" />
    <div for="edit-hours-modal" class="modal items-center">
        <div class="modal-box relative bg-neutral lg:w-1/2 lg:max-w-5xl">
            <h3 class="font-bold text-lg my-6">Update hours for this invoice period</h3>
            <label for="edit-hours-modal" class="btn btn-sm btn-circle absolute right-2 top-2 close-edit-hours-modal">✕</label>
            <div class="inner-modal">
                <div class="flex justify-center">
                    <button class="btn btn-lg loading">loading</button>
                </div>
            </div>
        </div>
    </div>
    {# Edit hours modal #}

{% endblock %}

{% block js %}
    <script nonce="clear-invoice-modal">
        document.body.addEventListener("clearModal", function(){
            if (document.getElementById("close-invoice-modal")) {
                document.getElementById("close-invoice-modal").click();
            }
            if (document.getElementById("new-invoice-form")) {
                document.getElementById("new-invoice-form").reset();
            }
        })
    </script>

    <script nonce="reset-new-invoice-modal">

        Array.from(document.getElementsByClassName("close-edit-hours-modal"))[0].addEventListener("click", function(){
            Array.from(document.getElementsByClassName("inner-modal"))[0].innerHTML = `
            <div class="flex justify-center">
                    <button class="btn btn-lg loading">loading</button>
            </div>
            `;
        })
        document.body.addEventListener('htmx:beforeSwap', function(evt) {
            let clearInitialForm = evt.detail.xhr.getResponseHeader("HX-RemoveInitialInvoiceModal");
            if (clearInitialForm === "resetNewInvoiceModal") {
                document.getElementById("new-invoice-form").remove();
            }
        });
        document.body.addEventListener('htmx:afterRequest', function(evt) {
            let resetTimer = evt.detail.xhr.getResponseHeader("HX-ResetTimer");
            if (resetTimer === "resetTimer") {
                document.getElementById("start_timer").addEventListener("click", start);
            }
            updateCancelModalListeners();
        });

        updateCancelModalListeners();

        function updateCancelModalListeners(){
            var close_invoice_modal_btn = document.getElementById("close-invoice-modal");
            if (close_invoice_modal_btn) {
                close_invoice_modal_btn.addEventListener("click", function(e) {
                    let errors_list = document.querySelector("#new-invoice-modal .list-disc");
                    if (errors_list) {
                        errors_list.remove();
                    }
                    document.getElementById("id_title").value = "";
                    document.getElementById("id_hourly_rate").value = 50;
                    document.getElementById("id_email_recipient_name").value = "";
                    document.getElementById("id_email_recipient").value = "";
                })
            }

        }
    </script>
{% endblock  %}
