{% extends "timary/base.html" %}
{% load filters %}

{% block content %}

    <div class="max-w-3xl mx-auto mt-10">
        <h1 class="text-3xl md:text-4xl font-bold">
            {% if single_invoice %}
                Update Invoice
            {% else %}
                New Invoice
            {% endif %}
        </h1>

        <form class="my-10"
            {% if single_invoice %}
                action="{% url 'timary:update_single_invoice' single_invoice_id=invoice_form.instance.id %}"
            {% else %}
                action="{% url 'timary:single_invoice' %}"
            {% endif %}
            method="post">

            {% if invoice_form.non_field_errors %}
                {% include "partials/_form_errors.html" with form_errors=invoice_form.non_field_errors %}
            {% endif %}

            {% csrf_token %}

            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text font-bold text-xl">{{ invoice_form.title.label_tag }}</span>
                </label>
                <div>{{ invoice_form.title|addclass:"input input-bordered border-2 bg-neutral text-xl w-full placeholder-gray-500 placeholder-opacity-7"}}</div>
                {% if invoice_form.title.errors %}
                    <div class="text-error pl-2">{{ invoice_form.title.errors }}</div>
                {% endif %}
            </div>
            <div class="form-control w-full contact-info">
                <label class="label">
                    <span class="label-text font-bold text-xl">{{ invoice_form.client_name.label_tag }}</span>
                </label>
                <div>{{ invoice_form.client_name|addclass:"input input-bordered border-2 bg-neutral text-xl w-full placeholder-gray-500 placeholder-opacity-7" }}</div>
                {% if invoice_form.client_name.errors %}
                    <div class="text-error pl-2">{{ invoice_form.client_name.errors }}</div>
                {% endif %}
            </div>
            <div class="form-control w-full contact-info">
                <label class="label">
                    <span class="label-text font-bold text-xl">{{ invoice_form.client_email.label_tag }}</span>
                </label>
                <div>{{ invoice_form.client_email|addclass:"input input-bordered border-2 bg-neutral text-xl w-full placeholder-gray-500 placeholder-opacity-7" }}</div>
                {% if invoice_form.client_email.errors %}
                    <div class="text-error pl-2">{{ invoice_form.client_email.errors }}</div>
                {% endif %}
            </div>
            {% if not single_invoice %}
                <button class="contact-info cursor-pointer" type="button"
                    _="on click remove .hidden from #contacts-list then add .hidden to .contact-info end"
                >Select from previous clients?
                </button>
                <div class="flex flex-col space-y-2 hidden" id="contacts-list">
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text">{{ invoice_form.contacts.label_tag }}</span>
                        </label>
                        <div>{{ invoice_form.contacts }}</div>
                    </div>
                    <button type="button" class="btn"
                        _="on click add .hidden to #contacts-list then remove .hidden from .contact-info">
                        Manually enter client info
                    </button>
                </div>
            {% endif %}
            <div _="on click remove .hidden from #client-second-email then add .hidden to me"
                id="add-second-email"
                class="flex w-full py-2 items-center cursor-pointer {% if invoice_form.client_second_email.value|length != 0 %} hidden {% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2.5">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-11.25a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z" clip-rule="evenodd" />
                </svg>
                Add a second email
            </div>
            <div id="client-second-email"
                class="w-full {% if invoice_form.client_second_email.value|length == 0 %} hidden {% endif %}">
                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text font-bold text-xl">{{ invoice_form.client_second_email.label_tag }}</span>
                    </label>
                    <div class="flex flex-row w-full items-center">
                        <div class="w-full">{{ invoice_form.client_second_email|addclass:"input input-bordered border-2 bg-neutral text-xl w-full placeholder-gray-500 placeholder-opacity-7" }}</div>
                        <svg _="on click add .hidden to #client-second-email then remove .hidden from #add-second-email"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 ml-5 cursor-pointer">
                            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    {% if invoice_form.client_second_email.errors %}
                        <div class="text-error pl-2">{{ invoice_form.client_second_email.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="divider"></div>
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text font-bold text-xl">{{ invoice_form.due_date.label_tag }}</span>
                </label>
                <div>{{ invoice_form.due_date|addclass:"input input-bordered border-2 bg-neutral text-xl w-full placeholder-gray-500 placeholder-opacity-7" }}</div>
                {% if invoice_form.due_date.errors %}
                    <div class="text-error pl-2">{{ invoice_form.due_date.errors }}</div>
                {% endif %}
            </div>

            <h1 class="text-3xl md:text-4xl font-bold my-10">Line Items</h1>
            {% for line_item_form in line_item_forms %}
                {% include "partials/_single_invoice_line_item.html" with line_item_form=line_item_form %}
            {% endfor %}
            <button class="btn btn-outline"
                type="button"
                hx-get="{% url 'timary:single_invoice_line_item' %}"
                hx-swap="beforebegin"
                _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from me"
            >
                Add another line item
            </button>

            <div class="divider"></div>
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text font-bold text-xl">{{ invoice_form.discount_amount.label_tag }}</span>
                </label>
                <div>{{ invoice_form.discount_amount|addclass:"input input-bordered border-2 bg-neutral text-xl w-full placeholder-gray-500 placeholder-opacity-7" }}</div>
                <div class="label"><span class="label-text-alt">Optional</span></div>
                {% if invoice_form.discount_amount.errors %}
                    <div class="text-error pl-2">{{ invoice_form.discount_amount.errors }}</div>
                {% endif %}
            </div>
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text font-bold text-xl">{{ invoice_form.tax_amount.label_tag }}</span>
                </label>
                <div>{{ invoice_form.tax_amount|addclass:"input input-bordered border-2 bg-neutral text-xl w-full placeholder-gray-500 placeholder-opacity-7" }}</div>
                <div class="label"><span class="label-text-alt">Optional</span></div>
                {% if invoice_form.tax_amount.errors %}
                    <div class="text-error pl-2">{{ invoice_form.tax_amount.errors }}</div>
                {% endif %}
            </div>
            <div class="divider"></div>
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text font-bold text-xl">{{ invoice_form.late_penalty.label_tag }}</span>
                    <input type="checkbox" name="late_penalty" class="toggle" id="id_late_penalty"
                        {% if single_invoice.late_penalty %} checked {% endif %}
                        _="on load if {{ single_invoice.late_penalty|yesno:"true,false" }} remove .hidden from #late-penalty-wrapper else add .hidden to #late-penalty-wrapper end
                            on change toggle .hidden on #late-penalty-wrapper end"
                    />
                </label>
                <span class="label-text-alt pl-1">Add an amount if invoice is not paid by due date.</span>
                {% if invoice_form.late_penalty.errors %}
                    <div class="text-error pl-2">{{ invoice_form.late_penalty.errors }}</div>
                {% endif %}
            </div>
            <div class="form-control w-full hidden mt-4 mb-6" id="late-penalty-wrapper">
                <label class="label">
                    <span class="label-text font-bold text-xl">{{ invoice_form.late_penalty_amount.label_tag }}</span>
                </label>
                <div>{{ invoice_form.late_penalty_amount|addclass:"input input-bordered border-2 bg-neutral text-xl w-full placeholder-gray-500 placeholder-opacity-7" }}</div>
                {% if invoice_form.late_penalty_amount.errors %}
                    <div class="text-error pl-2">{{ invoice_form.late_penalty_amount.errors }}</div>
                {% endif %}
            </div>
            <div class="form-control w-full mt-4">
                <label class="label">
                    <span class="label-text font-bold text-xl">{{ invoice_form.send_reminder.label_tag }}</span>
                    <input type="checkbox" name="send_reminder" class="toggle" id="id_send_reminder"
                        {% if single_invoice.send_reminder %} checked {% endif %}
                    />
                </label>
                <span class="label-text-alt pl-1">If invoice isn't paid in 2 weeks, send it again.</span>
                {% if invoice_form.send_reminder.errors %}
                    <div class="text-error pl-2">{{ invoice_form.send_reminder.errors }}</div>
                {% endif %}
            </div>
            {# Uncomment when adding starter templates #}
            {#            <div class="form-control w-full mt-4">#}
            {#                <label class="label">#}
            {#                    <span class="label-text font-bold text-xl">{{ invoice_form.save_for_reuse.label_tag }}</span>#}
            {##}
            {#                    <input type="checkbox" name="save_for_reuse" class="toggle" id="id_save_for_reuse"#}
            {#                        {% if single_invoice.save_for_reuse %} checked {% endif %}#}
            {#                    />#}
            {#                </label>#}
            {#                <span class="label-text-alt pl-1">Start with these line items and choices for other clients.</span>#}
            {#                {% if invoice_form.save_for_reuse.errors %}#}
            {#                    <div class="text-error pl-2">{{ invoice_form.save_for_reuse.errors }}</div>#}
            {#                {% endif %}#}
            {#            </div>#}

            <div class="divider"></div>
            <div id="installments-container"
                {% if single_invoice and single_invoice.installments == 1 %} class="hidden" {% endif %}>
                <div class="form-control w-full mt-4 {% if single_invoice and single_invoice.installments != 1 %}hidden {% endif %}">
                    <label class="label">
                        <span class="label-text font-bold text-xl">Break up this invoice?</span>
                        <input type="checkbox" class="toggle" _="on change toggle .hidden on #installments-wrapper then toggle .hidden on #interval-container"/>
                    </label>
                    <span class="label-text-alt pl-1">Allow the client to pay this invoice in installments.</span>
                </div>
                <div class="form-control w-full {% if single_invoice and single_invoice.installments != 1 %} ''  {% else %} hidden {% endif %}"
                    id="installments-wrapper">
                    <label class="label">
                        <span class="label-text font-bold text-xl">{{ invoice_form.installments.label_tag }}</span>
                    </label>
                    {{ invoice_form.installments }}
                    {% if invoice_form.installments.errors %}
                        <div class="text-error pl-2">{{ invoice_form.installments.errors }}</div>
                    {% endif %}
                </div>
                <div class="divider"></div>
            </div>



            <div class="flex justify-center space-x-20 mt-10">
                <button class="btn btn-primary" type="submit">
                    {% if single_invoice %}
                        Update
                    {% else %}
                        Create
                    {% endif %}
                </button>
            </div>
        </form>
    </div>

{% endblock content %}
