<div class="wrapper flex justify-between">
    <div class="text-left">Subscription</div>
    <a class="btn btn-sm text-right"
        hx-get="{% url 'timary:update_subscription' %}?action=add"
        hx-target="closest .wrapper"
        hx-swap="outerHTML"
        hx-confirm="Are you sure you want to re-subscribe?"
        _="on htmx:beforeRequest remove .hidden from .loading in me end"
    >
        <span class="loading loading-spinner loading-xs hidden"></span>
        Subscribe
    </a>
</div>
