<div class="wrapper flex justify-between">
    <div class="text-left">Subscription</div>
    <div class="text-center">${{ profile.stripe_subscription_recurring_price }}/m</div>
    <a class="btn btn-sm text-right"
        hx-get="{% url 'timary:update_subscription' %}?action=cancel"
        hx-target="closest .wrapper"
        hx-swap="outerHTML"
        hx-confirm="Are you sure you want to cancel? No data will be lost but you can't receive payments anymore"
        _="on htmx:beforeRequest remove .hidden from .loading in me end"
    >
        <span class="loading loading-spinner loading-xs hidden"></span>
        Cancel
    </a>
</div>
