<form class="card bg-neutral text-neutral-content"
    hx-put="{% url 'timary:update_user_password' %}"
    hx-swap="outerHTML"
    hx-target="this"
    id="update-password-form"
    _="on submit add .loading to .submit-btn in me end on htmx:afterRequest remove .loading from .submit-btn in me"
>
    {% if form.errors %}
        {% include "partials/_form_errors.html" with form_errors=form.errors %}
    {% endif %}

    <div class="card-body flex flex-col space-y-2 md:flex-row md:space-x-2 md:space-y-0">
        <div class="w-full">
            <label class="label">
                <span class="label-text">Current Password</span>
            </label>
            {{ password_form.current_password }}
        </div>
        <div class="w-full">
            <label class="label">
                <span class="label-text">New Password</span>
            </label>
            {{ password_form.new_password }}
        </div>
    </div>
    <div class="card-actions mb-5 flex justify-center">
        <a class="btn btn-ghost" hx-get="{% url 'timary:settings_partial' setting='password' %}" hx-target="closest form" hx-swap="outerHTML" _="on click add .loading to me"> Cancel </a>
        <button hx-trigger="enterKey, click" class="btn btn-primary submit-btn" type="submit"> Update </button>
    </div>
</form>
