<div hx-post="{% url 'timary:update_payment_method_settings' %}"
    hx-target="this"
    hx-swap="outerHTML"
    hx-trigger="stripe-tokens"
    hx-include="[name='first_token'],[name='second_token']"
    class="col-span-3"
    id="update-payment-element"
>
    {% if stripe_errors %}
        {% include "partials/_form_errors.html" with form_errors=stripe_errors %}
    {% endif %}

    <div class="form-control">
        <label class="label"><span class="label-text">Debit card</span> </label>
        <div id="card-element"></div>
        <label class="label">
            <span class="label-text-alt">Stripe requires a debit card to process your invoices into your
                bank account.</span>
        </label>
        <div id="payment-message" class="hidden text-red-600"></div>
    </div>

    <div class="flex justify-center space-x-10 mt-4">
        <a hx-get="{% url 'timary:settings_partial' setting='payment_method' %}" hx-target="#update-payment-element" hx-swap="outerHTML" class="btn btn-ghost btn-sm md:btn-md"
            _="on click remove .hidden from .loading in me end">
            <span class="loading loading-spinner loading-xs hidden"></span>
            Cancel
        </a>
        <button class="btn btn-disabled update-btn btn-sm md:btn-md" _="on click remove .hidden from .loading in me then call updateCard()">
            <span class="loading loading-spinner loading-xs hidden"></span>
            Update
        </button>
    </div>
</div>

<script nonce="update-payment-method" defer>
    var stripe = Stripe('{{ stripe_public_key }}');

    var elements;
    var cardElement;

    initialize();

    // Fetches a payment intent and captures the client secret
    function initialize() {
        elements = stripe.elements({ clientSecret: '{{ client_secret }}' });
        cardElement = elements.create("card", {{ stripe_card_element_ui|safe }});
        cardElement.mount("#card-element");

        let submitFormBtn = htmx.find(".update-btn");
        cardElement.on('change', function(e) {
            if (e.complete) {
                htmx.removeClass(submitFormBtn, "btn-disabled");
                htmx.addClass(submitFormBtn, "btn-primary")
            } else {
                htmx.addClass(submitFormBtn, "btn-disabled");
                htmx.removeClass(submitFormBtn, "btn-primary")
            }
        })
    }

    function showMessage(messageText) {
        htmx.removeClass(htmx.find(".update-btn"), "loading");
        const messageContainer = document.querySelector("#payment-message");

        messageContainer.classList.remove("hidden");
        messageContainer.textContent = messageText;
    }

    function createHiddenInput(el, val) {
        let element = document.createElement("input");
        element.className = el;
        element.name = el;
        element.value = val;
        element.id = `id_${el}`;
        element.hidden = true;
        return element;
    }

    function updateCard() {
        stripe.createToken(cardElement, {"currency": "usd"}).then(function(firstToken) {
            let first_token = firstToken.token;

            if (!firstToken.error) {
                stripe.createToken(cardElement, {"currency": "usd"}).then(function(secondToken) {
                    let second_token = secondToken.token;

                    if (!secondToken.error) {
                        let form = document.getElementById("update-payment-element")
                        form.appendChild(createHiddenInput('first_token', first_token.id));
                        form.appendChild(createHiddenInput('second_token', second_token.id));
                        htmx.trigger("#update-payment-element", "stripe-tokens");
                    } else {
                        showMessage(secondToken.error.message);
                    }
                });
            } else {
                showMessage(firstToken.error.message);
            }
        });
    }
</script>
