<form class=""
    hx-put="{% url 'timary:update_user_password' %}"
    hx-swap="outerHTML"
    hx-target="this"
    id="update-password-form"
    _="on submit remove .hidden from .loading in .submit-btn in me end on htmx:afterRequest add .hidden to .loading in .submit-btn in me end"
>
    {% if form.errors %}
        {% include "partials/_form_errors.html" with form_errors=form.errors %}
    {% endif %}

    <div class="flex flex-col mb-4">
        <div class="w-full">
            <label class="label">
                <span class="label-text">Current Password</span>
            </label>
            {{ password_form.current_password }}
        </div>
        <div class="w-full">
            <label class="label">
                <span class="label-text">New Password</span>
            </label>
            {{ password_form.new_password }}
        </div>
    </div>
    <div class="card-actions mb-5 flex justify-center space-x-10">
        <a class="btn btn-ghost btn-sm md:btn-md" hx-get="{% url 'timary:settings_partial' setting='password' %}" hx-target="closest form" hx-swap="outerHTML"
            _="on click remove .hidden from .loading in me end">
            <span class="loading loading-spinner loading-xs hidden"></span>
            Cancel
        </a>
        <button hx-trigger="enterKey, click" class="btn btn-primary btn-sm md:btn-md submit-btn" type="submit">
            <span class="loading loading-spinner loading-xs hidden"></span>
            Update
        </button>
    </div>
</form>
