{% load waffle_tags %}
<div id="tax-container">
    <div class="font-bold">Available years</div>
    <div class="tax-wrapper mx-10">
        {% for year in tax_years %}
            {% switch "can_view_"|add:year %}
            <div class="flex justify-between my-5">
                <h1>{{ year }}</h1>
                <a class="link text-right"
                    hx-get="{% url 'timary:view_tax_center' %}?year={{ year }}"
                    hx-target="closest .tax-wrapper"
                    hx-swap="outerHTML">
                    View
                </a>
            </div>
            <div class="divider"></div>
            {% endswitch %}
        {% endfor %}
    </div>

    <div class="flex justify-center mt-10">
        <a hx-get="{% url 'timary:settings_partial' setting='tax_center' %}"
            hx-target="#tax-container"
            hx-swap="outerHTML"
            class="btn btn-sm btn-ghost">
            Close
        </a>
    </div>

</div>
