{% load waffle_tags %}
<div id="tax-container">
    <div class="overflow-x-auto">
        <table class="table w-full mt-5">
            <!-- head -->
            <thead>
                <tr>
                    <th>Year</th>
                    <th>
                        <div class="tooltip" data-tip="Includes only paid" style="z-index: 1000 !important;">
                            Actual earnings
                        </div>
                    </th>
                    <th>
                        <div class="tooltip" data-tip="Includes pending and paid">
                            Potential earnings
                        </div>
                    </th>
                    <th>Download files</th>
                    <th>View numbers</th>
                </tr>
            </thead>
            <tbody>
                {% for year in years %}
                    <tr>
                        <td>{{ year.year }}</td>
                        <td>${{ year.actual|floatformat:"-2" }}</td>
                        <td>${{ year.potential|floatformat:"-2" }}</td>
                        {% if year.actual > 0 %}
                            <td>
                                <a  class="link underline"
                                    href="{% url 'timary:audit' %}?year={{ year.year }}"
                                    hx-swap="none"
                                >
                                    Download paid invoices
                                </a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% switch "can_view_"|add:year.year %}
                            <td>
                                <a  class="link underline"
                                    href="{% url 'timary:audit' %}?year={{ year.year }}"
                                    hx-swap="none"
                                >
                                    See {{ year.year }} numbers
                                </a>
                            </td>
                        {% endswitch %}
                    </tr>
                {% empty %}
                    <tr>
                        <td>No earnings yet for {% now "Y" %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="flex justify-center mt-10">
        <a hx-get="{% url 'timary:settings_partial' setting='tax_center' %}"
            hx-target="#tax-container"
            hx-swap="outerHTML"
            class="btn btn-sm btn-ghost">
            Close
        </a>
    </div>

</div>
