{% load tz %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Invoice</title>
    </head>

    <body>
        <h1>{{ sent_invoice.invoice.title|title }}</h1>

        <aside>
            <address id="from">
                {{ user.first_name }}
                {{ user.email }}
                {% if user.phone_number %}{{ user.phone_number }}{% endif %}
            </address>

            <address id="to">
                {{ client.name }}{% if client.address %}<br>{{ client.address }}{% endif %}
                {{ client.email }}{% if client.phone_number %}<br> {{ client.phone_number }} <br>{% endif %}

            </address>
        </aside>

        <dl id="informations">
            <dt>Invoice #</dt>
            <dd>{{ sent_invoice.email_id }}</dd>
            <dt>Date</dt>
            <dd>{{ sent_invoice.date_sent|date:"M j. Y"}}</dd>
            <dt>Status</dt>
            <dd>
                {{ sent_invoice.date_paid|yesno:"Paid,Not Paid" }}
                {% if sent_invoice.date_paid %}
                    on {{ sent_invoice.date_paid|date:"M j. Y"}}
                {% endif %}
            </dd>
        </dl>

        <table>
            <thead>
                <tr>
                    <th colspan="2">Description</th>
                    <th>Unit price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for line_item in line_items %}
                    {% if line_item.invoice.invoice_type == "single" %}
                        <tr {% if forloop.last %} class="last-row" {% endif %}>
                            <td colspan="2">{{ line_item.description}}</td>
                            <td>${{ line_item.unit_price|floatformat:-2}}</td>
                            <td>{{ line_item.quantity|floatformat:-2}}</td>
                            <td>${{ line_item.total_amount|floatformat:-2 }}</td>
                        </tr>
                    {% else  %}
                        <tr {% if forloop.last %} class="last-row" {% endif %}>
                            <td colspan="2">{{ line_item.date_tracked|timezone:user_timezone|date:"M j" }}</td>
                            <td>${{ sent_invoice.invoice.rate|floatformat:-2 }}</td>
                            <td>{{ line_item.quantity|floatformat:2 }}hr</td>
                            <td>${{ line_item.cost|floatformat:-2 }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if sent_invoice.invoice.invoice_type == "single" %}
                    {% if sent_invoice.invoice.is_payment_late %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td colspan="2" class="single-li">Late Penalty Fee</td>
                            <td>${{sent_invoice.invoice.late_penalty_amount|floatformat:-2 }}</td>
                        </tr>
                    {% endif %}
                    {% if sent_invoice.invoice.discount_amount %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td colspan="2" class="single-li">Discount</td>
                            <td>- ${{ sent_invoice.invoice.discount_amount | floatformat:-2 }}</td>
                        </tr>
                    {% endif %}
                    {% if sent_invoice.invoice.tax_amount %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td colspan="2" class="single-li">Tax</td>
                            <td>{{ sent_invoice.invoice.tax_amount | floatformat:-2 }}%</td>
                        </tr>
                    {% endif %}
                {% endif %}
                <tr id="total">
                    <td></td>
                    <td></td>
                    <td colspan="2" class="single-li">Total</td>
                    <td>${{ sent_invoice.total_price|floatformat:-2 }}</td>
                </tr>
            </tbody>

        </table>
    </body>
</html>
