<li class="card shadow-lg bordered mb-2 bg-base-200" id="{{archive_invoice.slug_title}}">
    <div class="card-body">
        <div>
            <div class="flex justify-between">
                <div class="card-title text-2xl overflow-x-hidden">
                    {{ archive_invoice.title }}
                </div>
                <div class="dropdown dropdown-left rounded-box">
                    <label tabindex="0" class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                    </label>
                    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-neutral rounded-box w-64 md:w-80 z-auto">
                        <li>
                            <label for="sent-invoices-modal" hx-get="{% url 'timary:sent_invoices_list' invoice_id=archive_invoice.id %}" hx-target=".sent-invoices-inner-modal" hx-swap="innerHTML" class="btn btn-sm">
                                View sent invoices
                            </label>
                        </li>
                        {% if archive_invoice.user.accounting_org_id and not archive_invoice.accounting_customer_id %}
                            <li>
                                <a hx-get="{% url 'timary:sync_invoice' invoice_id=archive_invoice.id %}" hx-target="closest #{{ archive_invoice.slug_title }}" hx-swap="outerHTML" class="btn btn-sm"
                                    _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from m">
                                    Sync with {{ archive_invoice.user.accounting_org }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <p class="text-xl">
                {% if archive_invoice.invoice_type != "single" %}
                    Interval: {{ archive_invoice.invoice_type | lower }}
                {% else %}
                    Balance: ${{ archive_invoice.balance_due }}
                {% endif %}
            </p>
            {% if archive_invoice.invoices_pending > 0 %}
                <p class="text-xl text-yellow-200">Invoices pending: {{ archive_invoice.invoices_pending }}</p>
            {% endif %}
            <p class="text-xl">Client: {{ archive_invoice.client_name }} ({{ archive_invoice.client_email }})</p>
            {% if archive_invoice.user.accounting_org_id and archive_invoice.accounting_customer_id %}
                <div class="text-xl flex flex-row items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="green" class="w-4 h-4 mr-2">
                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                    </svg>
                    Client synced with {{ archive_invoice.user.accounting_org|title }}
                </div>
            {% endif %}
        </div>
    </div>
</li>
