{% load waffle_tags %}
<li class="card card-bordered border-neutral bg-base-200" id="{{archive_invoice.slug_title}}">
    <div class="card-body">
        <div>
            <div class="flex justify-between">
                <div class="card-title text-2xl overflow-x-hidden">
                    {{ archive_invoice.title }}
                </div>
                <div class="dropdown dropdown-left rounded-box">
                    <label tabindex="0" class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                    </label>
                    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-neutral rounded-box w-64 md:w-80 z-auto">
                        <li>
                            <label for="sent-invoices-modal" hx-get="{% url 'timary:sent_invoices_list' invoice_id=archive_invoice.id %}" hx-target=".sent-invoices-inner-modal" hx-swap="innerHTML" class="btn btn-sm">
                                View sent invoices
                            </label>
                        </li>
                        {% switch "can_view_expenses" %}
                            <li>
                                <label for="manage-expenses-modal" hx-get="{% url 'timary:get_expenses' invoice_id=archive_invoice.id %}" hx-target=".manage-expenses-inner-modal" hx-swap="innerHTML" class="btn btn-sm">
                                    Manage expenses
                                </label>
                            </li>
                        {% endswitch %}
                        {% if archive_invoice.feedback|length == 0 %}
                            <li>
                                <label hx-get="{% url 'timary:invoice_feedback' archive_invoice.id %}?send=true"
                                    class="btn btn-sm"
                                    _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from me end"
                                >
                                    Ask for feedback
                                </label>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <p class="text-xl">
                {% if archive_invoice.invoice_type != "single" %}
                    Type: {{ archive_invoice.invoice_type | lower }}
                {% else %}
                    Balance: ${{ archive_invoice.balance_due }}
                {% endif %}
            </p>
            {% if archive_invoice.invoices_pending > 0 %}
                <p class="text-xl text-yellow-200">Invoices pending: {{ archive_invoice.invoices_pending }}</p>
            {% endif %}
            <p class="text-lg mb-4">Client: {{ archive_invoice.client.name }}</p>
            {% if archive_invoice.feedback|length > 0 %}
                Feedback: <br>
                <p>{{ archive_invoice.feedback|linebreaksbr }}</p>
            {% endif %}
        </div>
    </div>
</li>
