<div class="md:grid-flow-row shadow stats"
    hx-get="{% url 'timary:dashboard_stats' %}"
    hx-trigger="newHours from:body"
    hx-swap="outerHTML">
    <div class="stat">
        <div class="stat-title">Hours logged this month</div>
        <div class="stat-value">{{ current_month.total_hours | floatformat:2 }}</div>
        <div class="stat-desc">estimated earnings: ${{ current_month.total_amount | floatformat:2 }}</div>
        <div class="stat-actions">
            <a href="#hours-modal" id="log_hours_btn" class="btn btn-primary">Log hours</a>
            <button id="start_timer" class="btn" _="on click call start()">Start timer</button>
        </div>
    </div>
    <div class="stat hidden md:block">
        <div class="stat-title">Last month's stats</div>
        <div class="stat-value">{{ last_month.total_hours | floatformat:2 }}</div>
        <div class="stat-desc">earnings: ${{ last_month.total_amount | floatformat:2 }}</div>
    </div>
    <div class="stat hidden md:block">
        <div class="stat-title">YTD stats</div>
        <div class="stat-value">{{ current_year.total_hours | floatformat:2 }}</div>
        <div class="stat-desc">earnings: ${{ current_year.total_amount | floatformat:2 }}</div>
    </div>
</div>
