<div class="shadow stats"
    hx-get="{% url 'timary:dashboard_stats' %}"
    hx-trigger="newHours from:body"
    hx-swap="outerHTML">
    <div class="stat">
        <div class="stat-title">Hours logged</div>
        <div class="stat-value">{{ dashboard.total_hours | floatformat:2 }}</div>
        <div class="stat-desc">estimated earnings: ${{ dashboard.total_amount | floatformat:2 }}</div>
        <div class="stat-actions">
            <a href="#hours-modal" class="btn btn-sm btn-primary">Log hours</a>
        </div>
    </div>
</div>
