<form class=""
    hx-post="{% url 'timary:update_expenses' expenses_id=form.instance.id %}"
    hx-swap="outerHTML"
    hx-target="this"
    id="expense-{{ form.instance.slug_id }}"
    hx-trigger="submit"
    _="on submit add .loading to .submit-btn in me end on htmx:afterRequest remove .loading from .submit-btn in me end"
>

    {% if form.errors %}
        {% include "partials/_form_errors.html" with form_errors=form.errors %}
    {% endif %}

    <div class="card-body">
        <div class="form-control">
            <label class="label">
                <span class="label-text">{{ form.description.label_tag }}</span>
            </label>
            <div>{{ form.description }}</div>
        </div>
        <div class="flex flex-row space-x-2 md:space-x-5">
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text">{{ form.cost.label_tag }}</span>
                </label>
                <div>{{ form.cost }}</div>
            </div>
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text">{{ form.date_tracked.label_tag }}</span>
                </label>
                <div>{{ form.date_tracked }}</div>
            </div>
        </div>
        <div class="card-actions justify-center md:justify-end mt-4 space-x-4">
            <button class="btn btn-error btn-sm md:btn-md btn-outline"
                hx-trigger="click"
                hx-delete="{% url 'timary:delete_expenses' expenses_id=form.instance.id %}"
                hx-confirm="Are you sure you want to remove this expense?"
                hx-swap="outerHTML"
                hx-target="closest form"
                type="button"
                _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from me end"
            >
                Remove
            </button>
            <button class="btn btn-primary btn-sm md:btn-md submit-btn" type="submit">Update</button>
        </div>
    </div>

</form>
