<footer class="footer footer-center p-10 mt-40 bg-base-200 text-base-content rounded">
    <div class="flex flex-col space-y-2 sm:flex-row sm:space-x-2 sm:space-y-0">
        <div class="grid grid-flow-col gap-4">

            {% if request.user.is_authenticated %}
                <a class="link link-hover" href="{% url 'timary:index' %}">Home</a>
                <a class="link link-hover" href="{% url 'timary:manage_invoices' %}">Invoices</a>
                <a class="link link-hover" href="{% url 'timary:user_profile' %}">Profile</a>
                <a class="link link-hover" href="{% url 'timary:logout' %}">Logout</a>
            {% else %}
                <a class="link link-hover" href="{% url 'timary:landing_page' %}">Home</a>
                <a class="link link-hover" href="{% url 'timary:login' %}">Login</a>
                <a class="link link-hover" href="{% url 'timary:register' %}">Register</a>
            {% endif %}
        </div>
        <div class="grid grid-flow-col gap-4">
            <a class="link link-hover" href="{% url 'timary:terms' %}">Terms & Conditions</a>
            <a class="link link-hover" href="{% url 'timary:privacy' %}">Privacy Policy</a>
        </div>
    </div>
    <div class="flex flex-col md:flex-row ">
        <a class="link link-hover" href="{% url 'timary:contract_builder' %}">Contract Builder</a>
        <div class="divider hidden md:flex">|</div>
        <a class="link link-hover" href="{% url 'timary:stopwatch' %}">Super Simple Stopwatch</a>
        <div class="divider hidden md:flex">|</div>
        <a class="link link-hover" href="{% url 'timary:invoice_generator' %}">Free Invoice Generator</a>
    </div>

    <div>
        <div class="grid grid-flow-col gap-4">
            <a href="https://twitter.com/timaryllc"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg></a>
        </div>
    </div>
    <div>
        <p>Copyright © {% now "Y" %} </p>
        <p>All rights reserved by Timary LLC</p>
    </div>
</footer>
