{% load filters %}

<form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2"> {{ field.label }}</label>
            {{ field | addclass:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
            {% for error in field.errors %}
                <div class="text-red-600">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="flex content-center justify-between justify-around">
        {% if cancel_url %}
            <a class="self-center" href="{% url cancel_url %}">Cancel</a>
        {% endif %}
        <button class="bg-green-600 hover:bg-green-900 text-white text-lg font-bold py-2 px-4 rounded"
                type="submit">
            {{btn_title}}
        </button>
    </div>
</form>