<ul id="hours-list"
    class="mt-10 md:mt-0 space-y-5 w-full">
    {% if frequent_options|length > 0 %}
        <h1>Quick hours</h1>
        <div class="flex flex-row items-center gap-1 md:gap-3 overflow-x-auto md:flex-wrap">
            {% for hour in frequent_options %}
                <button class="btn gap-2 flex flex-col md:flex-row">
                    {{ hour.hours }}hr for {{ hour.invoice_name }}
                    <div class="badge badge-secondary"
                        hx-get="{% url 'timary:quick_hours' %}?hours_ref_id={{ hour.invoice_reference_id }}"
                        hx-swap="outerHTML"
                        hx-target="#hours-list">
                        + add
                    </div>
                </button>
            {% endfor %}
        </div>
    {% endif %}

    {% if show_repeat == 1 %}
        <div class="repeat-day"></div>
        <div class="text-3xl font-semibold tracking-wide">{% now "M. j, Y" %}</div>
        <div id="repeat-day" >
            <div class="flex justify-center">
                <button class="btn btn-secondary" hx-get="{% url 'timary:repeat_hours' %}" hx-target="#hours-list" hx-swap="outerHTML" _="on click add .loading to me">
                    Repeat previous day?</button>
            </div>
            <div class="divider"></div>
        </div>
    {% elif show_repeat == 2 %}
        <div class="text-3xl font-semibold tracking-wide">{% now "M. j, Y" %}</div>
        <p class="text-xl text-center">Add your hours for today.</p>
        <div class="divider"></div>
    {% endif %}
    {% regroup hours by date_tracked as grouped_hours %}
    {% for hours in grouped_hours %}
        <div class="text-3xl font-medium text-center md:text-left tracking-wide">{{ hours.grouper|date:"M. j, Y" }}</div>
        {% include "partials/_hours_grid.html"  with hours=hours.list %}
    {% empty %}
        {% if not request.user.phone_number %}
            <p class="text-xl text-center">Tip: If you want to log hours by text, add your phone number to your profile.</p>
        {% endif %}
    {% endfor %}
</ul>
