{% load filters tz %}
<ul id="hours-list"
    class="mt-10 md:mt-0 space-y-5 w-full">
    {% if frequent_options|length > 0 %}
        <h1>Quick hours</h1>
        <div class="flex flex-row items-center gap-1 md:gap-3 overflow-x-auto xl:flex-wrap">
            {% for hour in frequent_options %}
                <button class="btn gap-2 flex flex-col xl:flex-row">
                    {{ hour.quantity }}hr for {{ hour.invoice_name }}
                    <div class="badge badge-secondary"
                        _="on htmx:beforeRequest add .loading to the closest .btn then add .hidden to me end on htmx:afterRequest remove .loading from the closest .btn end"
                        hx-get="{% url 'timary:quick_hours' %}?hours_ref_id={{ hour.invoice_reference_id }}"
                        hx-swap="outerHTML"
                        hx-target="#hours-list">
                        + add
                    </div>
                </button>
            {% endfor %}
        </div>
    {% endif %}

    {% if show_repeat == 1 %}
        <div class="repeat-day"></div>
        <div class="text-3xl font-medium tracking-wide">{% now "M. j, Y" %}</div>
        <div id="repeat-day" >
            <div class="flex justify-center">
                <button class="btn btn-secondary" hx-get="{% url 'timary:repeat_hours' %}" hx-target="#hours-list" hx-swap="outerHTML" _="on click add .loading to me">
                    Repeat previous day?</button>
            </div>
            <div class="divider"></div>
        </div>
    {% elif show_repeat == 2 %}
        <div class="text-3xl font-medium tracking-wide">{% now "M. j, Y" %}</div>
        <p class="text-xl text-center">Add your hours for today.</p>
        <div class="divider"></div>
    {% endif %}
    {% include "partials/_hours_inner_list.html" %}
</ul>
