{% load filters %}

<form class="card p-5 bg-base-200 bordered"
    hx-post="{{url}}"
    hx-target="{{target}}"
    hx-swap="{{swap}}"
    id="{{id}}">

    {% csrf_token %}

    <div class="card-body">
        {# Should the put htmx form be responsive to screen size #}
        {% if md_size %}
            <div class="flex flex-row space-x-5 justify-center">
        {% else %}
            <div class="md:block">
        {% endif %}
        {% for field in form.visible_fields %}
            <div class="form-control">
                {% if field.field.widget.attrs.collapse %}
                    <details>
                        <summary class="label"><span class="label-text">Add {{ field.label }}?</span></summary>
                        <div>
                            {{ field | addclass:"input input-bordered text-lg" }}
                            {% for error in field.errors %}
                                <div class="text-red-600">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        </div>
                    </details>
                {% else %}
                    <label class="label"><span class="label-text">{{ field.label }}</span></label>
                    {% if field.field.widget.input_type == "select" %}
                        {{ field | addclass:"select select-bordered" }}
                    {% else %}
                        {{ field | addclass:"input input-bordered text-lg w-full" }}
                    {% endif %}

                    {% for error in field.errors %}
                        <div class="text-red-600">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}

                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<div class="card-actions flex justify-center">
    {% if modal %}
        <a href="#" class="btn" id="{{ close_link_id }}">Close</a>
    {% endif %}
    {% if cancel_url %}
        <button class="btn btn-ghost" hx-get="{{cancel_url}}" hx-trigger="click" hx-target="closest form" hx-swap="outerHTML">Cancel</button>
    {% endif %}
    <button hx-trigger="enterKey, click" class="btn btn-primary" type="submit"> {{ btn_title }}</button>
</div>

</form>
