{% load filters %}

<form class="card p-5 bg-base-200 bordered"
    hx-post="{{url}}"
    hx-target="{{target}}"
    hx-swap="{{swap}}"
    id="{{id}}" >

    {% csrf_token %}

    <div class="card-body">

        {% for field in form.visible_fields %}
            <div class="form-control {{field.field.widget.attrs.classes}}">
                {% if field.field.widget.attrs.collapse %}
                    <details>
                        <summary class="label"><span class="label-text">Add {{ field.label }}?</span></summary>
                        <div>
                            {{ field | addclass:"input input-bordered" }}
                            {% for error in field.errors %}
                                <div class="text-red-600">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        </div>
                    </details>
                {% else %}
                    <label class="label"><span class="label-text">{{ field.label }}</span></label>
                    {{ field | addclass:"input input-bordered" }}

                    {% for error in field.errors %}
                        <div class="text-red-600">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}

                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="card-actions flex justify-center">
        <button hx-trigger="enterKey, click" class="btn btn-primary btn-active" type="submit"> {{ btn_title }}</button>
        {% if cancel_url %}
            <button class="btn btn-ghost" hx-get="{{cancel_url}}" hx-trigger="click" hx-target="closest form" hx-swap="outerHTML">Cancel</button>
        {% endif %}

    </div>

</form>
