{% load filters %}

<form class="card p-5 bg-base-200 bordered"
      hx-put="{{url}}"
      hx-target="{{target}}"
      hx-swap="{{swap}}"
      id="{{id}}">
    {% csrf_token %}

    <div class="card-body">
        {% for field in form.visible_fields %}
            <div class="form-control">
                {% if field.field.widget.attrs.collapse %}
                    <details>
                        <summary class="label"><span class="label-text">Add {{ field.label }}?</span></summary>
                        <div>
                            {{ field | addclass:"input input-bordered" }}
                            {% for error in field.errors %}
                                <div class="text-red-600">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        </div>
                    </details>
                {% else %}
                    <label class="label"><span class="label-text">{{ field.label }}</span></label>
                    {{ field | addclass:"input input-borded" }}

                    {% for error in field.errors %}
                        <div class="text-red-600">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}

                {% endif %}
              </div>
        {% endfor %}

        <div class="card-actions flex justify-center">
            <a class="btn btn-ghost" hx-get="{{cancel_url}}" hx-target="closest form" hx-swap="outerHTML"> Cancel </a>
            <button class="btn btn-primary btn-active" type="submit"> {{ btn_title }} </button>
        </div>
    </div>

</form>
