{% load filters %}

<form hx-put="{{url}}" hx-target="{{target}}" hx-swap="{{swap}}" id="{{id}}"
      class="bg-white shadow-md rounded p-8 w-auto">

    {% csrf_token %}

    <div class="grid grid-flow-col grid-col-5 gap-4">
    {% for field in form.visible_fields %}
        <div class="mb-6">
            {% if field.field.widget.attrs.collapse %}
                <details>
                    <summary class="mb-4">Add {{ field.label }}?</summary>
                    <div>
                        {{ field | addclass:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                        {% for error in field.errors %}
                            <div class="text-red-600">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                </details>
            {% else %}
                    <label class="block text-gray-700 text-sm font-bold"> {{ field.label }}</label>
                    {{ field | addclass:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}

                    {% for error in field.errors %}
                        <div class="text-red-600">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}

            {% endif %}
          </div>
    {% endfor %}
    </div>

    <div class="flex justify-between mt-4">
        <button hx-get="{{cancel_url}}" hx-target="closest form" hx-swap="outerHTML">Cancel</button>
        <button class="bg-green-600 hover:bg-green-900 text-white text-lg font-bold py-2 px-4 rounded"
                type="submit">
            {{ btn_title }}
        </button>
    </div>


</form>