<div class="card bg-base-200 bordered" id="integrations-container">
    <div class="card-body">
        <div class="flex space-x-5 justify-center">
            <div>
                {% if settings.quickbooks_connected %}
                    <a hx-delete="{% url 'timary:quickbooks_disconnect' %}"
                        hx-confirm="Are you sure you want to remove Quickbooks?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        hx-indicator="#spinnr"
                        class="btn btn-primary btn-outline">
                        Disconnect quickbooks?
                    </a>
                {% else %}
                    <a href="{% url 'timary:quickbooks_connect' %}" class="btn btn-primary">Connect QuickBooks</a>
                {% endif %}
            </div>

            <div>
                {% if settings.freshbooks_connected %}
                    <a hx-delete="{% url 'timary:freshbooks_disconnect' %}"
                        hx-confirm="Are you sure you want to remove Freshbooks?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        hx-indicator="#spinnr"
                        class="btn btn-primary btn-outline">
                        Disconnect freshbooks?
                    </a>
                {% else %}
                    <a href="{% url 'timary:freshbooks_connect' %}" class="btn btn-primary">Connect FreshBooks</a>
                {% endif %}
            </div>

            <div>
                {% if settings.zoho_connected %}
                    <a hx-delete="{% url 'timary:zoho_disconnect' %}"
                        hx-confirm="Are you sure you want to remove Zoho?"
                        hx-target="#integrations-container"
                        hx-swap="outerHTML"
                        hx-indicator="#spinnr"
                        class="btn btn-primary btn-outline">
                        Disconnect zoho?
                    </a>
                {% else %}
                    <a href="{% url 'timary:zoho_connect' %}" class="btn btn-primary">Connect Zoho</a>
                {% endif %}
            </div>
        </div>
        {% include "partials/_spinnr.html" %}
    </div>
</div>
