{% load filters %}
<li class="card card-bordered border-neutral" id="{{invoice.slug_title}}">
    <div class="card-body">
        <div class="flex justify-between">
            <h2 class="card-title">
                {{ invoice.title }} - {% if invoice.invoice_type == 3 %}Weekly {% endif %}Rate: ${{ invoice.invoice_rate }}
                {% if invoice.user.accounting_org_id and invoice.accounting_customer_id %}
                    <div class="tooltip" data-tip="Synced with your accounting service.">
                        {% include 'partials/_check_svg.html' %}
                    </div>
                {% endif %}
            </h2>
            <div class="dropdown dropdown-left rounded-box">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-neutral rounded-box w-64 md:w-80 z-auto">
                    <li>
                        <a class="btn btn-sm" hx-get="{% url 'timary:edit_invoice' invoice.id %}" hx-target="#{{ invoice.slug_title }}" hx-swap="outerHTML"
                            _="on click add .loading to me">
                            Edit
                        </a>
                    </li>
                    {% if invoice.invoice_type == 1 %}
                        <li>
                            <a hx-get="{% url 'timary:generate_invoice' invoice_id=invoice.id %}" hx-confirm="Are you sure you want to generate an invoice now?" hx-target="closest #{{ invoice.slug_title }}" hx-swap="innerHTML" class="btn btn-sm"
                                _="on htmx:beforeRequest add .loading to me">
                                Generate invoice
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <label for="sent-invoices-modal" hx-get="{% url 'timary:sent_invoices_list' invoice_id=invoice.id %}" hx-target=".sent-invoices-inner-modal" hx-swap="innerHTML" class="btn btn-sm">
                            View sent invoices
                        </label>
                    </li>
                    {% if invoice.invoice_type == 1 %}
                        <li>
                            <a hx-get="{% url 'timary:pause_invoice' invoice_id=invoice.id%}" hx-target="closest #{{ invoice.slug_title }}" hx-swap="outerHTML" class="btn btn-sm"
                                _="on click add .loading to me">
                                {% if invoice.next_date is not None %} Pause {% else %} Unpause {% endif %}
                            </a>
                        </li>
                    {% endif %}
                    {% if invoice.user.accounting_org_id and not invoice.accounting_customer_id and invoice.user.settings.subscription_active %}
                        <li>
                            <a hx-get="{% url 'timary:sync_invoice' invoice_id=invoice.id %}" hx-target="closest #{{ invoice.slug_title }}" hx-swap="outerHTML" class="btn btn-sm"
                                _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from m">
                                Sync with {{ invoice.user.accounting_org }}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a hx-get="{% url 'timary:archive_invoice' invoice_id=invoice.id %}" hx-confirm="Are you sure you want to archive this invoice?" hx-target="closest #{{ invoice.slug_title }}" hx-swap="outerHTML" class="btn btn-sm"
                            _="on htmx:beforeRequest add .loading to me">
                            Archive
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex">
            <div class="flex flex-col md:flex-row w-full">
                <div>
                    {% if invoice.invoice_type == 1 %}
                        {% if invoice.next_date %}
                            <p class="text-xl">emailed {{ invoice.get_invoice_interval_display|lower }} to {{ invoice.email_recipient_name }} ({{ invoice.email_recipient }})</p>
                            <p class="text-xl">next date sent is {{ invoice.next_date|date:"M. j, Y" }}</p>
                        {% else %}
                            <p class="text-xl">invoice is paused</p>
                        {% endif %}
                    {% elif invoice.invoice_type == 2 %}
                        <p class="text-xl my-2">emailed to {{ invoice.email_recipient_name }} ({{ invoice.email_recipient }})</p>
                        <div class="grid grid-cols-1 sm:grid-cols-4 items-baseline">
                            <ul class="steps grow col-span-3">
                                {# Fancy way to make a range in templates #}
                                {% with ''|center:invoice.milestone_total_steps as range %}
                                    {% for _ in range %}
                                        <li class="step{% if forloop.counter <= invoice.milestone_step %} step-primary {% endif %}">
                                            {% if forloop.counter == invoice.milestone_step %} current {% endif %}
                                        </li>
                                    {% endfor %}
                                {% endwith %}
                            </ul>
                            {% if invoice.milestone_step <= invoice.milestone_total_steps %}
                                <a hx-get="{% url 'timary:generate_invoice' invoice_id=invoice.id %}"
                                    hx-confirm="Are you sure you want to complete this milestone?"
                                    hx-target="closest #{{ invoice.slug_title }}" hx-swap="innerHTML" class="btn btn-secondary mt-5"
                                    _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from me">
                                    Complete current milestone
                                </a>
                            {% else %}
                                <button class="btn btn-accent mt-5">Milestones all complete!</button>
                            {% endif %}
                        </div>
                    {% elif invoice.invoice_type == 3 %}
                        <p class="text-xl my-2">emailed to {{ invoice.email_recipient_name }} ({{ invoice.email_recipient }})</p>
                        <p class="text-xl">next invoice sent out: {{ ""|nextmonday }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div tabindex="0" class="collapse collapse-arrow rounded-md -mx-5">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">View more</div>
            <div class="collapse-content" id="hours-logged">
                {% include "partials/_invoice_collapsed_content.html" %}
            </div>
        </div>
    </div>
</li>
