<div class="flex flex-col md:flex-row w-full"
    hx-get="{% url 'timary:invoice_hour_stats' invoice_id=invoice.id %}"
    hx-trigger="refreshHourStats from:body"
    hx-swap="outerHTML">
    {% if invoice.get_hours_tracked.count > 0 %}
        <div class="flex flex-grow flex-col items-center w-full">
            <p class="text-center mb-12">Hours logged this period</p>
            <div class="h-full w-3/4">
                <ul class="list-none">
                    {% for hour in invoice.get_hours_tracked %}
                        <li class="text-xl flex justify-between"><span>{{ hour.date_tracked|date:"M j" }}</span><span>{{ hour.hours|floatformat:-2 }} hrs</span></li>
                    {% endfor %}
                </ul>
                <div class="flex justify-center">
                    <label
                        for="edit-hours-modal"
                        class="btn btn-outline btn-sm modal-button my-5"
                        hx-get="{% url 'timary:edit_invoice_hours' invoice_id=invoice.id %}"
                        hx-target=".inner-modal"
                        hx-swap="innerHTML"
                        _="on click add .loading to me end
                            on htmx:afterRequest remove .loading from me end"
                    >
                        Edit hours
                    </label>
                </div>
            </div>
        </div>
        <div class="divider md:divider-horizontal"></div>
    {% endif %}
    {% if invoice.budget_percentage > 0 %}
        <div class="flex flex-col w-full">
            <div class="text-center mb-10">Budget</div>
            <div class="flex justify-center mb-5 sm:mb-12">
                <div
                    class="radial-progress text-black bg-accent border-4 border-accent"
                    style="--value:{{ invoice.budget_percentage }}; --thickness: 4px;"
                >
                    {{ invoice.budget_percentage|floatformat:-2 }}%
                </div>
            </div>
        </div>
        <div class="divider md:divider-horizontal"></div>
    {% endif %}
    <div class="w-full">
        <table class="charts-css column show-labels show-primary-axis show-heading show-data-on-hover">
            <caption> $$ Earned last 6 months </caption>
            <tbody>
                {% for month in invoice.get_last_six_months %}
                    <tr>
                        <th scope="row">
                            {{ month.display }}
                        </th>
                        <td style="--size:{{ month.size}};">
                            <span class="tooltip">{{ month.data }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
