{% load filters %}
<li class="card card-bordered border-neutral" id="{{invoice.slug_title}}">
    <div class="card-body">
        <div class="flex justify-between">
            <div class="flex items-center mb-4">
                <h2 class="text-3xl font-bold mr-4">{{ invoice.title }}</h2>
                {% if invoice.user.accounting_org_id and invoice.accounting_customer_id %}
                    <div class="tooltip" data-tip="Synced with your accounting service.">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="green" class="w-6 h-6">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                        </svg>
                    </div>
                {% endif %}
            </div>
            <div class="dropdown dropdown-left rounded-box mb-4">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-neutral rounded-box w-64 md:w-80 z-auto">
                    <li>
                        <a class="btn btn-sm" hx-get="{% url 'timary:edit_invoice' invoice.id %}" hx-target="#{{ invoice.slug_title }}" hx-swap="outerHTML"
                            _="on click add .loading to me">
                            Edit
                        </a>
                    </li>
                    {% if invoice.invoice_type == 1 %}
                        <li>
                            <a hx-get="{% url 'timary:generate_invoice' invoice_id=invoice.id %}" hx-confirm="Are you sure you want to generate an invoice now?" hx-target="closest #{{ invoice.slug_title }}" hx-swap="innerHTML" class="btn btn-sm"
                                _="on htmx:beforeRequest add .loading to me">
                                Generate invoice
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <label for="sent-invoices-modal" hx-get="{% url 'timary:sent_invoices_list' invoice_id=invoice.id %}" hx-target=".sent-invoices-inner-modal" hx-swap="innerHTML" class="btn btn-sm">
                            View sent invoices
                        </label>
                    </li>
                    {% if invoice.invoice_type == 1 or invoice.invoice_type == 3 %}
                        <li>
                            <a hx-get="{% url 'timary:pause_invoice' invoice_id=invoice.id%}" hx-target="closest #{{ invoice.slug_title }}" hx-swap="outerHTML" class="btn btn-sm"
                                _="on click add .loading to me">
                                {% if invoice.is_paused %} Unpause {% else %} Pause {% endif %}
                            </a>
                        </li>
                    {% endif %}
                    {% if invoice.user.accounting_org_id and not invoice.accounting_customer_id and invoice.user.settings.subscription_active %}
                        <li>
                            <a hx-get="{% url 'timary:sync_invoice' invoice_id=invoice.id %}" hx-target="closest #{{ invoice.slug_title }}" hx-swap="outerHTML" class="btn btn-sm"
                                _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from m">
                                Sync with {{ invoice.user.accounting_org }}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a hx-get="{% url 'timary:archive_invoice' invoice_id=invoice.id %}" hx-confirm="Are you sure you want to archive this invoice?" hx-target="closest #{{ invoice.slug_title }}" hx-swap="outerHTML" class="btn btn-sm"
                            _="on htmx:beforeRequest add .loading to me">
                            Archive
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="flex mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-5">
                    <path d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 01-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004zM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 01-.921.42z" />
                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v.816a3.836 3.836 0 00-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 01-.921-.421l-.879-.66a.75.75 0 00-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 001.5 0v-.81a4.124 4.124 0 001.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 00-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 00.933-1.175l-.415-.33a3.836 3.836 0 00-1.719-.755V6z" clip-rule="evenodd" />
                </svg>
                {% if invoice.invoice_type == 3 %}Weekly{% else %}Hourly{% endif %} ${{ invoice.invoice_rate }}
            </div>
            {% if invoice.invoice_type == 1 %}
                <div class="flex mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-5">
                        <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clip-rule="evenodd" />
                    </svg>
                    {{ invoice.get_invoice_interval_display|title }}
                </div>
            {% endif %}
            {% if invoice.invoice_type == 1 or invoice.invoice_type == 3%}
                <div class="flex mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-5">
                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z" clip-rule="evenodd" />
                    </svg>
                    {# For interval and weekly invoices that can be paused, otherwise show the next date an invoice is generated #}
                    {% if invoice.is_paused %}
                        Paused
                    {% else %}
                        {% if invoice.invoice_type == 1 %}
                            {% include 'partials/_invoice_next_date.html' with invoice=invoice %}
                        {% elif invoice.invoice_type == 3 %}
                            {{ ""|nextmonday|title }}
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            <div class="flex mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-5">
                    <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
                </svg>
                {{ invoice.email_recipient_name }} - {{ invoice.email_recipient }}
            </div>
        </div>
        {% if invoice.invoice_type == 2 %}
            <div class="grid grid-cols-1 sm:grid-cols-4 items-baseline my-5">
                <ul class="steps grow col-span-3">
                    {# Fancy way to make a range in templates #}
                    {% with ''|center:invoice.milestone_total_steps as range %}
                        {% for _ in range %}
                            <li class="step{% if forloop.counter <= invoice.milestone_step %} step-primary {% endif %}">
                                {% if forloop.counter == invoice.milestone_step %} current {% endif %}
                            </li>
                        {% endfor %}
                    {% endwith %}
                </ul>
                {% if invoice.milestone_step <= invoice.milestone_total_steps %}
                    <a hx-get="{% url 'timary:generate_invoice' invoice_id=invoice.id %}"
                        hx-confirm="Are you sure you want to complete this milestone?"
                        hx-target="closest #{{ invoice.slug_title }}" hx-swap="innerHTML" class="btn btn-ghost btn-outline my-5"
                        _="on htmx:beforeRequest add .loading to me end on htmx:afterRequest remove .loading from me">
                        Complete milestone
                    </a>
                {% else %}
                    <button class="btn btn-accent mt-5">Milestones all complete!</button>
                {% endif %}
            </div>
        {% endif %}

        <div tabindex="0" class="collapse collapse-arrow rounded-md -mx-5">
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">View more</div>
            <div class="collapse-content" id="hours-logged">
                <div class="flex flex-col justify-evenly md:flex-row w-full">
                    {% if invoice.get_hours_tracked.count > 0 %}
                        <div class="flex flex-grow flex-col items-center w-full">
                            <p class="text-center mb-12">Hours logged this period</p>
                            <div class="h-full w-3/4">
                                <ul class="list-none"
                                    hx-get="{% url 'timary:invoice_hour_stats' invoice_id=invoice.id %}"
                                    hx-trigger="refreshHourStats-{{ invoice.email_id }} from:body"
                                    hx-swap="innerHTML">
                                    {% include 'partials/_invoice_period_hours.html' with invoice=invoice %}
                                </ul>
                                <div class="flex justify-center">
                                    <label
                                        for="edit-hours-modal"
                                        class="btn btn-outline btn-sm modal-button my-5"
                                        hx-get="{% url 'timary:edit_invoice_hours' invoice_id=invoice.id %}"
                                        hx-target=".inner-modal"
                                        hx-swap="innerHTML"
                                        _="on click add .loading to me end
                                            on htmx:afterRequest remove .loading from me end"
                                    >
                                        Edit hours
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="divider md:divider-horizontal"></div>
                    {% endif %}
                    {% if invoice.budget_percentage > 0 %}
                        <div class="flex flex-col w-full">
                            <div class="text-center mb-5">Budget</div>
                            <div class="flex justify-center mb-5 sm:mb-12">
                                <div
                                    class="radial-progress text-black bg-accent border-4 border-accent"
                                    style="--value:{{ invoice.budget_percentage|floatformat:-2 }}; --thickness: 4px;"
                                >
                                    {{ invoice.budget_percentage|floatformat:2 }}%
                                </div>
                            </div>
                        </div>
                        <div class="divider md:divider-horizontal"></div>
                    {% endif %}
                    <div class="w-full md:w-1/2 mx-auto">
                        <div class="flex flex-row justify-center w-full h-48">
                            <canvas id="chart-{{ invoice.email_id }}"></canvas>
                        </div>
                    </div>
                    <script>
                        delete config_{{ invoice.email_id }};
                        config_{{ invoice.email_id }} = {
                            type: 'bar',
                            data: {
                                datasets: [
                                    {
                                        "data": {{ invoice.get_last_six_months.1|safe }},
                                        "label": "Earnings",
                                        "fill": false,
                                        "backgroundColor": ["rgba(255, 99, 132, 0.2)","rgba(255, 159, 64, 0.2)","rgba(255, 205, 86, 0.2)","rgba(75, 192, 192, 0.2)","rgba(54, 162, 235, 0.2)","rgba(153, 102, 255, 0.2)","rgba(201, 203, 207, 0.2)"],
                                        "borderColor": ["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)","rgb(153, 102, 255)","rgb(201, 203, 207)"],
                                        "borderWidth": 1
                                    }
                                ],
                                labels: {{ invoice.get_last_six_months.0|safe }}
                            },
                            options: {
                                responsive: true,
                                legend: {
                                    labels: {
                                        padding: 20,
                                        fontSize: 15
                                    }
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            autoSkip: false,
                                            maxTicksLimit: 20
                                        },
                                    }]
                                },
                                tooltips: {
                                    callbacks: {
                                        title: function(tooltipItem, data) {
                                            return data['labels'][tooltipItem[0]['index']];
                                        },
                                        label: function(tooltipItem, data) {
                                            return `$${parseFloat(data['datasets'][0]['data'][tooltipItem['index']]).toFixed(2)}`;
                                        }
                                    },
                                    backgroundColor: '#FFF',
                                    titleFontSize: 16,
                                    titleFontColor: '#0066ff',
                                    bodyFontColor: '#000',
                                    bodyFontSize: 14,
                                    displayColors: false
                                }
                            }
                        };
                        new Chart(document.getElementById('chart-{{invoice.email_id}}'), config_{{ invoice.email_id }});
                    </script>
                </div>

            </div>
        </div>
    </div>
</li>
