{% load filters %}
<div class="navbar mb-2 md:px-12 shadow-lg bg-neutral text-neutral-content">
    {% if request.user.is_authenticated %}
        <div class="hidden md:flex md:flex-1 title-font font-medium items-center text-white">
            {% include "partials/_logo.html" %}
            <a class="text-xl ml-3" href="{% url 'timary:index' %}"> Timary </a>
        </div>
        <div class="flex justify-evenly md:justify-end w-full">
            {% if not request.user.onboarding_tasks_done.0 %}
                <div class="hidden md:block dropdown dropdown-end cursor-pointer">
                    <label tabindex="0" class="mr-5 cursor-pointer">
                        Onboarding Tasks:
                        <span class="radial-progress ml-1"
                            style="--value:{{ request.user.onboarding_tasks_done.1 }}; --size:2.5rem; --thickness: 2px;">
                            <span class="text-xs">{{ request.user.onboarding_tasks_done.1 }}%</span>
                        </span>
                    </label>
                    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-80">
                        {% for task, status in request.user.onboarding_tasks.items %}
                            <li>
                                <a class="flex justify-between">
                                    {% if status %}
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="green" class="w-6 h-6 mr-2">
                                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                        </svg>
                                    {% else %}
                                        {# Trick css into text align right #}
                                        <span></span>
                                    {% endif %}
                                    <span class="text-right">{{ task|format_str }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <a class="btn btn-ghost btn-sm rounded-btn {% if "main" in request.path %} font-bold bg-base-100 {% endif %}"  href="{% url 'timary:index' %}">
                Dashboard
            </a>
            <a class="btn btn-ghost btn-sm rounded-btn {% if "invoices" in request.path %} font-bold bg-base-100 {% endif %}"  href="{% url 'timary:manage_invoices' %}">
                Invoices
            </a>
            <a class="btn btn-ghost btn-sm rounded-btn {% if "profile" in request.path %} font-bold bg-base-100 {% endif %}" href="{% url 'timary:user_profile' %}">
                Profile
            </a>
            <a class="btn btn-ghost btn-sm rounded-btn" href="{%  url 'timary:logout' %}">Logout</a>
        </div>
    {% else %}
        <div class="flex flex-1 title-font font-medium items-center text-white">
            {% include "partials/_logo.html" %}
            <a class="text-xl ml-3" href="{% url 'timary:landing_page' %}"> Timary </a>
        </div>
        <div class="flex justify-end">
            <a class="btn btn-ghost btn-sm rounded-btn"  href="{% url 'timary:login' %}"> Login </a>
            <a class="btn btn-ghost btn-sm rounded-btn" href="{% url 'timary:register' %}"> Register </a>
        </div>
    {% endif %}
</div>

<div id="alert-messages" class="mx-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} shadow-lg max-w-xl mx-auto my-2">
                <div class="flex flex-row justify-between w-full">
                    <div class="flex flex-row space-x-2 ">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        {% if message.message.msg %}
                            <a hx-get="{{ message.message.link }}" hx-swap="none" class="link cursor-pointer">{{ message.message.msg }}</a>
                        {% else %}
                            <span>{{ message }}</span>
                        {% endif %}

                    </div>
                    <div onclick="document.getElementsByClassName('{{ message.extra_tags }}')[0].remove()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div id="toast-messages" class="toast toast-top toast-center w-1/3" style="z-index: 10000 !important;"></div>
