<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
    <div class="flex-1 px-2 mx-2">
        <a class="text-lg font-bold" href="{% url 'timary:index' %}">
            Timary
        </a>
    </div>
    <div class="flex-none hidden px-2 mx-2 md:flex">
        <div class="flex items-stretch" hx-boost="true">
            {% if request.user.is_authenticated %}
                <a class="btn btn-ghost btn-sm rounded-btn"  href="{% url 'timary:manage_invoices' %}">
                    Invoices
                </a>
                <a class="btn btn-ghost btn-sm rounded-btn" href="{% url 'timary:user_profile' %}">
                    Profile
                </a>
            {% else %}
                <a class="btn btn-ghost btn-sm rounded-btn"  href="{% url 'timary:login' %}">
                    Login
                </a>
                <a class="btn btn-ghost btn-sm rounded-btn" href="{% url 'timary:register' %}">
                    Signup
                </a>
            {% endif %}
        </div>
    </div>
    <div class="flex md:hidden md:flex-none">
        <div class="dropdown dropdown-left">
            <div tabindex="0" class="m-1 btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </div>
            <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-200 rounded-box w-52">
                {% if request.user.is_authenticated %}
                    <a class="btn mb-1" href="{% url 'timary:manage_invoices' %}">
                        Invoices
                    </a>

                    <a class="btn" href="{% url 'timary:user_profile' %}">
                        Profile
                    </a>
                {% else %}
                    <a class="btn mb-2"  href="{% url 'timary:login' %}">
                        Login
                    </a>
                    <a class="btn" href="{% url 'timary:register' %}">
                        Signup
                    </a>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
