<div class="card bg-base-200 bordered" id="user-profile">
    <div class="card-body items-center text-center">
        {% if user.profile_pic %}
            <div class="avatar">
                <div class="w-24 rounded-full">
                    <img src="{{ user.profile_pic.url }}" />
                </div>
            </div>
        {% endif %}
        <h2 class="card-title">{{user.first_name }} {{ user.last_name }}</h2>
        <p>{{ user.email }}</p>
        <p>{{ user.phone_number|default:"" }}</p>
        <div class="card-actions flex justify-center my-4">
            <button class="btn btn-primary"
                hx-get="{% url 'timary:edit_user_profile' %}"
                hx-target="#user-profile"
                hx-swap="outerHTML"
                _="on click add .loading to me">
                Edit Profile
            </button>
        </div>
    </div>
</div>
