<li class="mb-2">
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <div class="card-title">Status:
                {% if sent_invoice.paid_status == 0 %}
                    <div class="tooltip flex flex-row items-center" data-tip="Client hasn't submitted payment yet">
                        <span class="pr-1 text-white">Sent</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
                        </svg>
                    </div>
                {% elif sent_invoice.paid_status == 2 %}
                    <span class="pr-1 text-yellow-300">Pending</span>
                {% elif sent_invoice.paid_status == 2 %}
                    <span class="pr-1 text-green-300">Paid</span>
                {% elif sent_invoice.paid_status == 3 %}
                    <span class="pr-1 text-red-300">Failed</span>
                {% endif %}
                {% if sent_invoice.is_synced %}
                    <div class="tooltip" data-tip="Synced with your accounting service.">
                        {% include 'partials/_check_svg.html' %}
                    </div>
                {% endif %}
            </div>
            <p>${{ sent_invoice.total_price|floatformat:-2 }}</p>
            <p>{{ sent_invoice.date_sent }}</p>
            <p>#{{ sent_invoice.email_id }}</p>
        </div>
        <div class="col-span-1">
            {# RESEND INVOICE BUTTON #}
            {% if sent_invoice.user.settings.subscription_active %}
                {% if sent_invoice.paid_status == 0 or sent_invoice.paid_status == 3 %}
                    <a hx-get="{% url 'timary:resend_invoice_email' sent_invoice_id=sent_invoice.id %}"
                        hx-target="closest li"
                        hx-swap="outerHTML"
                        class="btn btn-secondary"
                        _="on htmx:beforeRequest add .loading to me"
                        {% if invoice_resent %} disabled="disabled" {% endif %}
                    >
                        {% if invoice_resent %}
                            Invoice resent
                        {% else %}
                            Resend invoice
                        {% endif %}
                    </a>
                {% endif %}
            {% endif %}

            {# SYNC INVOICE BUTTON #}
            {% if sent_invoice.can_be_synced %}
                <a hx-get="{% url 'timary:sync_sent_invoice' sent_invoice_id=sent_invoice.id %}"
                    hx-target="closest li"
                    hx-swap="outerHTML"
                    class="btn btn-accent btn-outline"
                    _="on htmx:beforeRequest add .loading to me"
                >
                    Sync Invoice
                </a>
            {% endif %}
        </div>
    </div>
</li>
