<li class="card shadow-lg bordered mb-2">
    <div class="card-body grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <div class="card-title">Status:
                {% if sent_invoice.paid_status == 2 %}
                    <span class="pr-1 text-green-300">Paid</span>
                {% elif sent_invoice.paid_status == 3 %}
                    <span class="pr-1 text-red-300">Failed</span>
                {% else %}
                    <span class="pr-1 text-yellow-300">Pending</span>
                {% endif %}
                {% if sent_invoice.is_synced %}
                    <div class="tooltip" data-tip="Synced with your accounting service.">
                        {% include 'partials/_check_svg.html' %}
                    </div>
                {% endif %}
            </div>
            <p>${{ sent_invoice.total_price|floatformat:-2 }}</p>
            <p>{{ sent_invoice.date_sent }}</p>
            <p>#{{ sent_invoice.email_id }}</p>
        </div>
        <div class="col-span-1">
            {# RESEND INVOICE BUTTON #}
            {% if sent_invoice.paid_status == 0 or sent_invoice.paid_status == 3 %}
                <a hx-get="{% url 'timary:resend_invoice_email' sent_invoice_id=sent_invoice.id %}"
                    hx-target="closest li"
                    hx-swap="outerHTML"
                    class="btn btn-secondary"
                    _="on htmx:beforeRequest add .loading to me"
                    {% if invoice_resent %} disabled="disabled" {% endif %}
                >
                    {% if invoice_resent %}
                        Invoice resent
                    {% else %}
                        Resend invoice
                    {% endif %}
                </a>
            {% endif %}

            {# SYNC INVOICE BUTTON #}
            {% if sent_invoice.can_be_synced %}
                <a hx-get="{% url 'timary:sync_sent_invoice' sent_invoice_id=sent_invoice.id %}"
                    hx-target="closest li"
                    hx-swap="outerHTML"
                    class="btn btn-accent btn-outline"
                    _="on htmx:beforeRequest add .loading to me"
                >
                    Sync Invoice
                </a>
            {% endif %}
        </div>
    </div>
</li>
