<div class="card bg-base-200 bordered mt-10" id="user-settings">
    <div class="card-body">
        <h2 class="card-title text-center">Phone number availability</h2>
        <div class="flex justify-center space-x-5">
            {% for day in settings.phone_number_availability %}
                <div class="form-control">
                    <label class="label" for="{{ day }}"><span class="label-text">{{ day }}</span></label>
                    <input
                        id="{{ day }}"
                        type="checkbox"
                        class="checkbox"
                        checked="checked"
                        disabled
                    >
                </div>
            {% empty %}
                <label>Update availability to receive texts</label>
            {% endfor %}
        </div>

        <h2 class="card-title text-center mt-10">Audit trail</h2>
        <div class="flex justify-center space-x-5 mb-10">
            <a href="{% url 'timary:audit' %}" class="btn btn-outline btn-accent">Download Audit</a>
        </div>

        <div class="card-actions flex justify-center my-4">
            <button class="btn btn-primary"
                hx-get="{% url 'timary:update_user_settings' %}"
                hx-target="#user-settings"
                hx-swap="outerHTML"
                hx-indicator="#settings_spinnr">
                Edit Settings
            </button>
        </div>
        {% include "partials/_spinnr.html" with spinner_id="settings_spinnr" %}
    </div>

</div>
