<div class="card bg-base-200 bordered pt-10" id="user-settings">
    <table class="table w-full max-w-xl mx-auto">
        <tbody>
            {% include 'partials/settings/_sms.html' with settings=settings %}
            {% include 'partials/settings/_membership.html' with settings=settings %}

            {% if settings.can_download_audit %}
            <tr class="flex justify-between">
                <td>Invoice audit log </td>
                <td></td>
                <td><a href="{% url 'timary:audit' %}" class="btn btn-sm">Download</a></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% include "partials/_spinnr.html" with spinner_id="settings_spinnr" %}
</div>
