{% load filters %}

<form class="card bg-base-200 bordered mt-10"
    hx-put="{{url}}"
    hx-target="{{target}}"
    hx-swap="{{swap}}">
    {% csrf_token %}

    <div class="card-body">
        <h2 class="card-title text-center">Phone number availability</h2>
        <div class="flex justify-center space-x-5">

            {% for value, text in form.phone_number_availability.field.choices %}
                <div class="form-control">
                    <label class="label" for="id_phone_number_availability_{{ forloop.counter0 }}"><span class="label-text">{{ text }}</span></label>
                    <input
                        id="id_phone_number_availability_{{ forloop.counter0 }}"
                        name="{{ form.phone_number_availability.name }}"
                        type="checkbox"
                        class="checkbox"
                        value="{{ value }}"
                        {% if value in request.user.settings.phone_number_availability %} checked="checked" {% endif %}
                    >
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="card-actions flex justify-center mb-10">
        <a class="btn btn-ghost" hx-get="{{cancel_url}}" hx-target="closest form" hx-swap="outerHTML" hx-indicator="#settings_spinnr"> Cancel </a>
        <button class="btn btn-primary" type="submit" hx-indicator="#settings_spinnr"> {{ btn_title }} </button>
        {% include "partials/_spinnr.html" with spinner_id="settings_spinnr"%}
    </div>

</form>
