{% load filters waffle_tags %}
<li class="card card-bordered border-neutral bg-base-300" id="{{ single_invoice.slug_title }}">
    <div class="card-body">
        <div class="flex justify-between">
            <div class="flex items-center mb-4 overflow-x-hidden">
                <h2 class="text-3xl font-bold mr-4">{{ single_invoice.title }}</h2>
            </div>

            <div class="dropdown dropdown-left rounded-box mb-4 z-50">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-200 rounded-box w-64 md:w-80 z-auto">
                    {% if single_invoice.can_edit %}
                        <li>
                            <a class="btn btn-sm" href="{% url 'timary:update_single_invoice' single_invoice_id=single_invoice.id %}">
                                Edit
                            </a>
                        </li>
                    {% endif %}
                    {% switch "can_view_expenses" %}
                        <li>
                            <label for="manage-expenses-modal" hx-get="{% url 'timary:get_expenses' invoice_id=single_invoice.id %}" hx-target=".manage-expenses-inner-modal" hx-swap="innerHTML" class="btn btn-sm">
                                Manage expenses
                            </label>
                        </li>
                    {% endswitch %}
                    <li>
                        <a class="btn btn-sm" hx-get="{% url 'timary:update_single_invoice_status' single_invoice_id=single_invoice.id %}"
                            hx-target="closest .card" hx-swap="outerHTML" _="on htmx:beforeRequest add .loading to me">
                            Set status as {% if single_invoice.status == 0 %} Final {% else %} Draft {% endif %}
                        </a>
                    </li>
                    {% if single_invoice.installments > 1 %}
                        <li>
                            <label for="sent-invoices-modal" hx-get="{% url 'timary:sent_invoices_list' invoice_id=single_invoice.id %}" hx-target=".sent-invoices-inner-modal" hx-swap="innerHTML" class="btn btn-sm">
                                View sent invoices
                            </label>
                        </li>
                    {% endif %}
                    <li>
                        <a hx-delete="{% url 'timary:update_single_invoice' single_invoice_id=single_invoice.id %}"
                            hx-confirm="Are you sure you want to archive this invoice?"
                            hx-swap="outerHTML" class="btn btn-sm"
                            _="on htmx:beforeRequest add .loading to me">
                            Archive
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col sm:flex-row">
            <div class="w-full">
                {% if single_invoice.installments == 1 %}
                    <div class="flex mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-5">
                            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z" clip-rule="evenodd" />
                        </svg>
                        <div class="tooltip" data-tip="Date client needs to submit their payment by">
                            <span>{{ single_invoice.due_date|date:"M. j, Y" }}</span>
                        </div>
                    </div>
                {% endif %}
                <div class="flex mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-5">
                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
                    </svg>
                    {{ single_invoice.client.name }}
                </div>
                <div class="flex mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                    </svg>
                    {% if single_invoice.status == 0 %}
                        <div class="tooltip" data-tip="Invoice hasn't been sent out yet">
                            <span>{{ single_invoice.get_status_display|title }}</span>
                        </div>
                    {% else %}
                        {{ single_invoice.get_status_display|title }}
                    {% endif %}
                </div>
                <div class="flex mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                    </svg>
                    ${{ single_invoice.balance_due|floatformat:-2 }}
                </div>
                {% if single_invoice.installments > 1 and single_invoice.invoice_snapshots.count > 0 %}
                    <div class="flex mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 010 3.75H5.625a1.875 1.875 0 010-3.75z" />
                        </svg>
                        Installments: {{ single_invoice.get_installments_data.0 }} sent out of {{ single_invoice.get_installments_data.1 }}
                    </div>
                {% endif %}
                {% if single_invoice.installments == 1 and single_invoice.status == 1 and single_invoice.get_sent_invoice %}
                    <div class="flex mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
                        </svg>
                        {% if single_invoice.get_sent_invoice.paid_status == 0 %}
                            <div class="tooltip" data-tip="Client hasn't submitted payment yet" >
                                {{ single_invoice.get_sent_invoice.get_paid_status_display|title }}
                            </div>
                        {% else %}
                            {{ single_invoice.get_sent_invoice.get_paid_status_display|title }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if single_invoice.is_sent_invoice_synced %}
                    <div class="flex flex-row items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="green" class="w-6 h-6 mr-5">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                        </svg>
                        Sent invoice synced with {{ single_invoice.user.accounting_org|title }}
                    </div>
                {% endif %}
                {% if single_invoice.installments == 1 and single_invoice.get_sent_invoice is not None %}
                    <a href="{% url 'timary:download_sent_invoice' sent_invoice_id=single_invoice.get_sent_invoice.id %}" class="flex flex-row mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                        </svg>
                        Download copy
                    </a>
                {% endif %}
                {% if single_invoice.balance_due <= 0 %}
                    <div class="alert alert-warning shadow-lg mt-5">
                        <div class="flex flex-row gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                            <span>Note, Stripe can't invoice balances under $1.</span>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if single_invoice.can_send_invoice %}
                <div class="w-3/4 md:w-full mx-auto flex flex-col justify-center sm:items-end sm:justify-end gap-5 mt-4 md:mt-0 sent-invoice-actions">
                    <btn class="btn btn-accent btn-outline" hx-get="{% url 'timary:send_single_invoice_email' single_invoice_id=single_invoice.id %}"
                        hx-confirm="Are you sure you want to send this invoice now?" hx-target="closest .card" hx-swap="outerHTML"
                        _="on htmx:beforeRequest remove .hidden from .loading in me end">
                        <span class="loading loading-spinner loading-xs hidden"></span>
                        {% if not single_invoice.get_sent_invoice %}
                            Send to client
                        {% else %}
                            Resend to client
                        {% endif %}
                    </btn>
                    <div class="flex flex-row md:flex-col gap-2 justify-between mt-2 sm:mt-0">
                        <div class="tooltip" data-tip="Generate a code for quick pay">
                            <a {% if not single_invoice.get_sent_invoice %}
                                hx-get="{% url 'timary:generate_qrcode_single_invoice' single_invoice_id=single_invoice.id %}"
                            {% else %}
                                hx-get="{% url 'timary:generate_qrcode_invoice' sent_invoice_id=single_invoice.get_sent_invoice.id %}"
                            {% endif %}
                                hx-target="closest .sent-invoice-actions"
                                hx-swap="innerHTML"
                                class="flex flex-row cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 013.75 9.375v-4.5zM3.75 14.625c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5a1.125 1.125 0 01-1.125-1.125v-4.5zM13.5 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0113.5 9.375v-4.5z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 6.75h.75v.75h-.75v-.75zM6.75 16.5h.75v.75h-.75v-.75zM16.5 6.75h.75v.75h-.75v-.75zM13.5 13.5h.75v.75h-.75v-.75zM13.5 19.5h.75v.75h-.75v-.75zM19.5 13.5h.75v.75h-.75v-.75zM19.5 19.5h.75v.75h-.75v-.75zM16.5 16.5h.75v.75h-.75v-.75z" />
                                </svg>
                                <span class="text-sm">Generate QR Code</span>
                            </a>
                        </div>
                        {% if single_invoice.get_sent_invoice and single_invoice.get_sent_invoice.paid_status == 0 or single_invoice.get_sent_invoice.paid_status == 3 %}
                            <div class="tooltip" data-tip="Don't allow the client to pay.">
                                <div class="flex flex-row place-content-baseline cursor-pointer text-sm"
                                    hx-get="{% url 'timary:cancel_invoice' sent_invoice_id=single_invoice.get_sent_invoice.id %}"
                                    hx-confirm="Are you sure you want to cancel this invoice?"
                                    hx-target="closest li"
                                    hx-swap="outerHTML">

                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    Cancel
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% elif single_invoice.can_sync_invoice %}
                <div class="w-full flex flex-row justify-center sm:items-end sm:justify-end space-x-5 mt-4 md:mt-0">
                    <btn class="btn btn-accent btn-outline"
                        hx-get="{% url 'timary:sync_single_invoice' single_invoice_id=single_invoice.id %}"
                        hx-target="closest .card"
                        hx-swap="outerHTML"
                        _="on htmx:beforeRequest add .loading to me">
                        Sync invoice
                    </btn>
                </div>
            {% endif %}

            {% if single_invoice.can_start_installments %}
                <div class="w-full flex flex-row justify-center sm:items-end sm:justify-end space-x-5 mt-4 md:mt-0">
                    <btn class="btn btn-accent btn-outline" hx-get="{% url 'timary:send_invoice_installment' single_invoice_id=single_invoice.id %}"
                        hx-confirm="Are you sure you want to send this installment now?" hx-target="closest .card" hx-swap="outerHTML"
                        _="on htmx:beforeRequest add .loading to me">
                        Send first installment
                    </btn>
                </div>
            {% endif %}
        </div>
    </div>
</li>
